ALTER PROCEDURE [dbo].[usp_rpt_Need_Rx]
AS
/*
	Purpose: Generate Schedule Report data
	
	EXEC dbo.usp_rpt_Need_Rx
	
*/
BEGIN
    SET NOCOUNT ON;

    -- If table exists, just clear it
    IF OBJECT_ID('dbo.rpt_900_Need_Rx') IS NOT NULL
    BEGIN
        TRUNCATE TABLE dbo.rpt_900_Need_Rx;
    END
    ELSE
    BEGIN
        CREATE TABLE dbo.rpt_900_Need_Rx (
            Id INT IDENTITY(1,1) PRIMARY KEY,
            [Name] VARCHAR(255),
            MRN BIGINT,
            [HUB ID] BIGINT,
            [Queue] VARCHAR(255),
            [Last Event] VARCHAR(255),
            [Last Event Date] DATE,
            [Last Fill] DATE,
            [Next Fill] DATE,
            [Need by Date] DATE,
            Category VARCHAR(255),
            [Review Notes] VARCHAR(4000)
        );
    END;

    -- Insert new data (runs every time)
    INSERT INTO dbo.rpt_900_Need_Rx
    (
        [Name],MRN,[HUB ID],[Queue],[Last Event],[Last Event Date],[Last Fill],[Next Fill],[Need by Date],
        Category,[Review Notes]
    )
    SELECT 
        DR.[Name],
        DR.MRN,
        DR.[HUB ID],
        DR.[Queue],
        DR.[Last Event],
        DR.[Last Event Date],
        DR.[Last Fill],
        DR.[Next Fill],
        DR.[Need by Date],
        DR.Category,
        DR.[Review Notes]
    FROM dbo.rpt_100_Dashboard_Review DR
    WHERE DR.Category = 'Need Rx';
END;

