ALTER PROCEDURE [dbo].[usp_rpt_New_Rx]
AS
/*
	Purpose: Generate Schedule Report data
	
	EXEC dbo.usp_rpt_New_Rx
	
*/
BEGIN
    SET NOCOUNT ON;

    -- If table exists, just clear it
    IF OBJECT_ID('dbo.rpt_800_New_Rx') IS NOT NULL
    BEGIN
        TRUNCATE TABLE dbo.rpt_800_New_Rx;
    END
    ELSE
    BEGIN
        CREATE TABLE dbo.rpt_800_New_Rx (
            Id INT IDENTITY(1,1) PRIMARY KEY,
            [Name] VARCHAR(255),
            MRN BIGINT,
            [HUB ID] BIGINT,
            Payer VARCHAR(255),
            [Secondary] VARCHAR(255),
            [Queue] VARCHAR(255),
            [Last Event] VARCHAR(255),
            [Last Event Date] DATE,
            [Last Fill] DATE,
            [Next Fill] DATE,
            [Need by Date] DATE,
            Category VARCHAR(255),
            [Review Notes] VARCHAR(4000)
        );
    END;

    -- Insert new data
	INSERT INTO dbo.rpt_800_New_Rx ([Name],MRN,[HUB ID],Payer,[Secondary],[Queue],[Last Event],[Last Event Date]
									,[Last Fill],[Next Fill],[Need by Date],Category,[Review Notes])
	SELECT DR.[Name]
		 , DR.MRN
		 , DR.[HUB ID]
		 , DR.Payer
		 , DR.[Secondary]
		 , DR.[Queue]
		 , DR.[Last Event]
		 , DR.[Last Event Date]
		 , DR.[Last Fill]
		 , DR.[Next Fill]
		 , DR.[Need by Date]
		 , DR.Category
		 , DR.[Review Notes]
	  FROM dbo.rpt_100_Dashboard_Review DR
	 WHERE DR.Category = 'New Rx';
END;

