ALTER PROCEDURE [dbo].[usp_rpt_DC]
AS
/*
	Purpose: Consolidate and generate Dashboard Review Report data
	
	EXEC dbo.usp_rpt_DC

*/
BEGIN
    SET NOCOUNT ON;

    IF OBJECT_ID('dbo.rpt_1100_DC') IS NOT NULL
    BEGIN
        TRUNCATE TABLE dbo.rpt_1100_DC;
    END
    ELSE
    BEGIN
        CREATE TABLE dbo.rpt_1100_DC
        (
            Id INT IDENTITY(1,1),
            [Name] VARCHAR(255),
            MRN BIGINT,
            [HUB ID] BIGINT,
            patient_status VARCHAR(255),
            [Order Status] VARCHAR(255),
            [Discharge Date] DATE,
            Discharge VARCHAR(100),
            [Discharge Note] VARCHAR(MAX)
        );
    END;

    -- Insert the data
    INSERT INTO dbo.rpt_1100_DC
    (
        [Name],MRN,[HUB ID],patient_status,[Order Status],[Discharge Date],Discharge,[Discharge Note])
    SELECT 
        DD.[Name],
        DD.MRN,
        DD.[HUB ID],
        DC.patient_status,
        DC.[Order Status],
        DD.[Discharge Date],
        DD.Discharge,
        DD.[Discharge Note]
    FROM dbo.STG_DaybueDC AS DD
    LEFT JOIN dbo.rpt_100_Dashboard_Review AS DC 
        ON DD.MRN = DC.MRN
	ORDER BY DD.[Discharge Date];
END;
