USE [Anovo_Reports]
GO
/****** Object:  StoredProcedure [dbo].[usp_prcDWHGetOPTOUT]    Script Date: 4/9/2026 1:24:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
           
ALTER PROCEDURE [dbo].[usp_prcDWHGetOPTOUT](@FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50))                                              
AS                                              
/*                 
 --                    
 DECLARE @FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50)                                      
 SET @FeedCurrentRundate = GETDATE()                                  
 SET @GroupName = 'CourierHealth' --CourierHealth, AscendisPharmaEndocrinology, SFMC                              
 SET @DataFileName ='CNP_OPTOUT_DAILY_CH'                               
 SET @Frequency = 'TWICE DAILY'                                                 
 -- EXEC usp_prcDWHGetOPTOUT @FeedCurrentRundate,@GroupName,@DataFileName,@Frequency    
*/                                    
                                                                       
                                      
BEGIN                                      
                               
 SET NOCOUNT ON;                                
 DECLARE @FeedlastRunDate DATETIME,@FeedCutOffdate DATETIME,                  
 @Drugname VARCHAR(200) ,@TherapyId INT,@Title VARCHAR(200),@PHIFlag VARCHAR(10),@Assement VARCHAR(200)                                
                                      
 SELECT TOP 1 @FeedlastRunDate = LastFeedRunDate FROM dbo.[DwhDataFeedFileGenerationList]                                                     
 WHERE GroupName=@GroupName                                 
   AND Frequency = @Frequency                                 
   AND DataFileName = @DataFileName                                
--UPDATE [DwhDataFeedFileGenerationList] SET [LastFeedRunDate]=NULL   WHERE [DataFileName]=  'CNP_OPT_OUT_DAILY_ANOVO'         --2026-04-04 08:55:42.297    
               
 IF(@Frequency = 'DAILY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms, -3, CAST(CAST(@FeedCurrentRundate AS DATE) AS DATETIME)) 
    SET @FeedlastRunDate = CAST(@FeedlastRunDate AS DATE) -- Added
  END                                                                      
  ELSE IF (@Frequency = 'WEEKLY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms,-3,CAST(DATEADD(DAY,1,CAST(DATEADD(DAY,-1 -(DATEPART(WEEKDAY, @FeedCurrentRundate) + @@DATEFIRST - 2)% 7,@FeedCurrentRundate) AS DATE)) AS DATETIME))                                                                      
    SET @FeedlastRunDate = CAST(@FeedlastRunDate AS DATE)-- Added
  END                                                                      
  ELSE IF (@Frequency = 'MONTHLY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms, -3, DATEADD(MONTH, DATEDIFF(MONTH, 0, @FeedCurrentRundate), 0))
    SET @FeedlastRunDate = CAST(@FeedlastRunDate AS DATE)-- Added
  END                                                                      
  ELSE                       
  BEGIN
    SET @FeedCutOffdate = @FeedCurrentRundate -- TWICE DAILY 
    SET @FeedlastRunDate = @FeedlastRunDate -- Added
  END         

 SET @Drugname=(SELECT [Value]                                     
      FROM [dbo].[DwhDbParameters]                                     
     WHERE UPPER(ParameterId) = 'DRUGNAME' )                               
                              
 SELECT @TherapyId = TherapyId                               
 FROM dbo.DwhTherapy WHERE TherapyType = @Drugname                               
                                
 IF(@TherapyId IS NULL)                                 
  SET @TherapyId = 9996                               
                              
                  
                                              
                          
                                
 SET @Title=(SELECT [Value]                                  
    FROM [dbo].[DwhDbParameters]                                   
    WHERE ParameterId = 'ASCENDIS ASMT NAME' )                            
                 
                            
                          
SET @PHIFlag=(SELECT [Value]                         
    FROM [dbo].[DwhDbParameters]                                   
    WHERE ParameterId = 'PHI' )                            
                                            
                  
                  
 /**********************************Patients Assmnts****************************************/                              
                               
    
IF OBJECT_ID('tempdb..#TempAscendis') IS NOT NULL                                        
  DROP TABLE #TempAscendis;                                        
                                        
 SELECT PAS.patientId,PAS.[Status],PAS.Title,PAS.ModifiedOn,PAS.Question,PAS.Answer                                     
   INTO #TempAscendis                                        
   FROM [dbo].[DwhPatientAssessments] PAS                   
  WHERE PAS.Title = @Title AND PAS.Status='Complete'                                      
     AND( (            
            ((PAS.[ModifiedOn]> @FeedlastRunDate)OR @FeedlastRunDate IS NULL)                                                                            
             AND                                                
             PAS.[ModifiedOn]<= @FeedCurrentRundate)                                               
            )                                      
    
      --SELECT * FROM [#TempAscendis] AS [TA] WHERE [TA].[patientId] =254118                                      
--/***************************************************                                        
--                 Main Pivot Query                                 
-- ***************************************************/                                        
IF OBJECT_ID('tempdb..#TempaAsmtData') IS NOT NULL                                        
    DROP TABLE #TempaAsmtData;                                        
                                        
SELECT DISTINCT                                         
        p.PatientId,                              
        P.Status,                              
        P.Title,                              
        P.ModifiedOn,                              
    p.[Date Patient Program Consent is signed:],                                      
    p.[Patient Support Program Consent]                                
                                            
INTO #TempaAsmtData                                        
FROM                                        
(                                        
    SELECT                                         
        PAS.PatientId,                                        
        PAS.[status],                              
        PAS.Title,                              
        PAS.ModifiedOn,                                       
        PAS.Question,                                        
        PAS.Answer                                        
    FROM #TempAscendis PAS                                        
) AS src                                        
PIVOT                                        
(                                        
    MAX(Answer)                                        
    FOR Question IN (                              
    [Date Patient Program Consent is signed:],                  
    [Patient Support Program Consent]                                       
    )                                        
) AS p;                              
         
--SELECT * FROM    #TempaAsmtData WHERE [patientId]=254118                    
/***************************************************                              
           Get Latest Record Per Patient                              
***************************************************/                              
IF OBJECT_ID('tempdb..#TempFinalData') IS NOT NULL                           
    DROP TABLE #TempFinalData;                                 
                              
SELECT * INTO #TempFinalData                             
FROM (                              
    SELECT                               
        TF.PatientId,                              
        TF.Status,                              
     TF.Title,                            
        TF.ModifiedOn,                           
        TF.[Date Patient Program Consent is signed:] ,                  
        TF.[Patient Support Program Consent] AS [Patient Support Program Consent],                               
        ROW_NUMBER() OVER (                              
            PARTITION BY TF.PatientId                              
            ORDER BY TF.ModifiedOn DESC                              
        ) AS rn                              
    FROM #TempaAsmtData TF        
) x                              
WHERE x.rn = 1 AND X.[Patient Support Program Consent]='B. No Signature'      
     
--OR X.[Patient Support Program Consent]='Declined'     
--SELECT * FROM   #TempFinalData  where [patientId]=254192  
               
  /***********************************************************    
MAIN qUERY     
*************************************************************/         
                                
 DECLARE @RunId BIGINT,@CreatedOn DATETIME, @CreatedBy VARCHAR(255)--,@ConfigMasterId INT                                      
                                      
 SELECT @RunId = ISNULL(MAX(RUNID),0) + 1 FROM [dbo].[DWHPatientAscendisOptOut]                                      
 --SELECT @RunId                            
 SET @CreatedOn = GETDATE()                                      
 SET @CreatedBy = SUSER_NAME()                 
    
 --SET @ConfigMasterId = 1                     
    INSERT INTO [dbo].[DWHPatientAscendisOptOut]                            
    (                            
        EncryptedID,                            
        OptOut,                            
        RestatementFlag,                            
        CreatedOn,                            
        CreatedBy,                            
        RunID,                            
        GroupName                            
    )      
                        
 SELECT                                 
 DP.PatientId AS [Encrypted ID ],   
--ISNULL(DPSR.[Date Patient Program Consent is signed:],DPSR.ModifiedOn) AS [Opt Out], 
CONVERT(Date,DPSR.ModifiedOn) AS [Opt Out],
0 AS RestatementFlag                                      
 ,@CreatedOn AS CreatedOn                                      
 ,@CreatedBy AS CreatedBy                                      
 ,@RunId AS RUNID                                      
 ,@GroupName   AS GroupName                                   
 FROM #TempFinalData AS DPSR                              
 INNER JOIN dbo.DwhPatient DP                                          
 ON DP.PatientId = DPSR.PatientId                                                    
 WHERE 1 = 1                                       
         
  
--SELECT * FROM [DWHPatientAscendisOptOut] ORDER BY [RunID] DESC                                
                                
/*****************************optoutScripts ******************************************************/                             
                             
 IF (@GroupName = 'AscendisPharmaEndocrinology' OR @GroupName = 'SFMC')                  
BEGIN                  
    SELECT                 
       CASE WHEN ISNULL(EncryptedID,'')='' THEN 'UnKnow'                
        ELSE  (CAST(EncryptedID AS BIGINT) - 40119) END AS [Encrypted ID]                  
        ,CASE WHEN  ISNULL(OptOut,'')='' THEN 'UnKnow'                
        ELSE  FORMAT(CAST(NULLIF(OptOut,'') AS DATETIME), 'yyyyMMddHHmmss') END  AS [Opt Out]                  
        ,CASE                   
            WHEN RestatementFlag = 1 THEN 'Y'                   
            ELSE 'N'                   
        END AS [Restatement Flag]                 
     FROM [dbo].[DWHPatientAscendisOptOut]                
    WHERE RunId = @RunId;                  
END                  
ELSE IF (@GroupName = 'CourierHealth')                  
    BEGIN                  
        SELECT                   
            CASE WHEN   ISNULL(EncryptedID,'')='' THEN 'UnKnow'                
            ELSE (CAST(EncryptedID AS BIGINT) - 40119) END AS [Encrypted ID]                  
      ,CASE WHEN ISNULL([OptOut],'')='' THEN 'UnKnow'                
    ELSE FORMAT(CAST(NULLIF(OptOut,'') AS DATETIME), 'yyyyMMddHHmmss') END AS [Opt Out]                  
        FROM [dbo].[DWHPatientAscendisOptOut]                  
        WHERE RunId = @RunId;                  
    END                  
 IF (@GroupName = 'SFMC')                  
BEGIN                  
    SELECT                 
       CASE WHEN ISNULL(EncryptedID,'')='' THEN 'UnKnow'                
        ELSE  (CAST(EncryptedID AS BIGINT) - 40119) END AS [Encrypted ID]                  
        ,CASE WHEN  ISNULL(OptOut,'')='' THEN 'UnKnow'               
        ELSE  FORMAT(CAST(NULLIF(OptOut,'') AS DATETIME), 'yyyyMMddHHmmss') END  AS [Opt Out]        
     FROM [dbo].[DWHPatientAscendisOptOut]                
    WHERE RunId = @RunId;                  
END                  
          
END 