USE [Anovo_Reports]
GO
/****** Object:  StoredProcedure [dbo].[usp_prcDWHGetInventory]    Script Date: 4/9/2026 1:24:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
    
ALTER   PROCEDURE [dbo].[usp_prcDWHGetInventory] (@FeedCurrentRundate DATETIME,                  
                                                @GroupName          VARCHAR(255),                  
                                                @DataFileName       VARCHAR(255),                  
                                                @Frequency          VARCHAR(50))                  
AS                  
  /*                               
   DECLARE @FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50)                                  
   SET @FeedCurrentRundate = GETDATE()                              
   SET @GroupName = 'AscendisPharmaEndocrinology'                           
   SET @DataFileName ='CNP_INVENTORY_DAILY_ANOVO'                           
   SET @Frequency = 'DAILY'                              
   EXEC usp_prcDWHGetInventory @FeedCurrentRundate,@GroupName,@DataFileName,@Frequency                              
                          
                          
  --TRUNCATE TABLE [DWHPatientAscendisInventory]                         
  */                  
  BEGIN                  
      SET nocount ON;                  
                  
      DECLARE @FeedlastRunDate DATETIME;                  
                  
      SELECT TOP 1 @FeedlastRunDate = lastfeedrundate                  
      FROM   dbo.[dwhdatafeedfilegenerationlist]                  
      WHERE  groupname = @GroupName                  
             AND datafilename = @DataFileName                  
             AND frequency = @Frequency;                  
        --UPDATE   [dwhdatafeedfilegenerationlist] SET [LastFeedRunDate]='2026-02-10 10:00:04.580' WHERE [DataFileName]='CNP_INVENTORY_DAILY_ANOVO'        
      -- LastFeedRunDate will get modified by package after execution                               
      DECLARE @FeedCutOffdate DATETIME;                  
                  
      IF ( @Frequency = 'DAILY' )                  
        BEGIN                  
            SET @FeedCutOffdate = Dateadd(ms, -3, Cast(Cast(@FeedCurrentRundate                  
                                                            AS                  
                                                            DATE)                  
                                                       AS DATETIME));                  
        END;                  
      ELSE IF ( @Frequency = 'WEEKLY' )                  
        BEGIN                  
            SET @FeedCutOffdate = Dateadd(ms, -3, Cast(Dateadd(day, 1, Cast(                  
                                  Dateadd(day, -1 - (                  
                                                  Datepart(weekday,                  
                                                  @FeedCurrentRundate                  
                                                  )                  
                                                     + @@DATEFIRST - 2                  
                                                    ) % 7,                  
                                  @FeedCurrentRundate) AS DATE)) AS                  
                                  DATETIME));                  
        END;                  
      ELSE IF ( @Frequency = 'MONTHLY' )                  
        BEGIN                  
            SET @FeedCutOffdate = Dateadd(ms, -3,                  
                                  Dateadd(month, Datediff(month, 0                  
                                                 ,                  
                                                 @FeedCurrentRundate),                  
                                  0                  
                                  ));                  
        END;                  
      ELSE                  
        SET @FeedCutOffdate = @FeedCurrentRundate; -- TWICE DAILY                          
      DECLARE @Drugname  VARCHAR(200),                  
              @TherapyId VARCHAR(100);    
                  
      SET @Drugname = (SELECT [value]                  
                       FROM   [dbo].[dwhdbparameters]                
                       WHERE  Upper(parameterid) = 'Yuviwel');                  
                  
 IF ( @Drugname IS NULL )          
        SET @Drugname = 'Yuviwel';              
            
--    IF OBJECT_ID('tempdb..#TempAscendisSite') IS NOT NULL                                        
--    DROP TABLE #TempAscendisSite;                                        
                                        
-- --       SELECT DS.[Dose],DS.[ShipSiteNo]                                   
-- --       INTO #TempAscendisSite                                        
-- --       FROM [dbo].[DwhShipments] AS [DS]                    
-- --WHERE [DS].[ShipSiteNo] IN (5,12)         
----SELECT * FROM #TempAscendisSite           
--/******************************Inventory and Dispence Querys*****************************************/        
        
---- DECLARE @Drugname VARCHAR(200) --,@TherapyId INT,@Title VARCHAR(200),@PHIFlag VARCHAR(10),@Assement VARCHAR(200),@PAPAssement VARCHAR(200)                      
------,@WelcomeDemoKit VARCHAR(200),@InjectionAsmt VARCHAR(200)                         
                                                
---- SET @Drugname=(SELECT [Value]                                            
----      FROM [dbo].[DwhDbParameters]                 
----     WHERE UPPER(ParameterId) = 'DRUGNAME' )                                                     
                 
 IF OBJECT_ID('tempdb..#TempDispenseData') IS NOT NULL                                                        
  DROP TABLE #TempDispenseData;        
        
    SELECT         
        DispenseDate,        
        SiteNo,        
        NDC,        
        Drug,        
        [Type],        
        ItemDescription,        
        SUM(CAST(DispenseLotQty AS INT)) AS QtySold        
       INTO #TempDispenseData         
    FROM dbo.DwhDispense        
    WHERE Drug = @Drugname        
 AND (         (DispenseDate >= CAST(@FeedlastRunDate AS DATE) OR @FeedlastRunDate IS NULL)     AND DispenseDate <= @FeedCutOffdate         )      
    GROUP BY         
        DispenseDate,        
        SiteNo,        
        NDC,        
        Drug,        
        [Type],        
        ItemDescription   
/*  
 --UGO    
 --AND  (        
            (DispenseDate >= cast(@FeedlastRunDate AS Date) OR @FeedlastRunDate IS NULL)        
            AND DispenseDate <= @FeedCutOffdate        
        )         
 --UGO                                  
  */            
  
  -- select * from  #TempDispenseData  
  
 IF OBJECT_ID('tempdb..#TempFinalData') IS NOT NULL                                                        
  DROP TABLE #TempFinalData;            
SELECT         
      I.[Date] AS [Date]        
    , I.AnovoRxEntity        
    , I.ItemDescription        
    , I.Drug        
    , I.AnovoSite        
    , I.Quantity        
    , I.LotNumber        
    , I.[Expiration Date]        
    , I.Cost        
    , I.ExtendedCost        
    , I.NDC        
    , ISNULL(D.QtySold,0) AS QtySold        
    , CAST(I.Quantity AS INT) - ISNULL(D.QtySold,0) AS QtyAdjusted        
    , 0 AS QtyReceived        
    , 'Carton'  AS UOM        
INTO #TempFinalData        
FROM dbo.DwhInventory I        
LEFT JOIN #TempDispenseData D        
    ON I.[Date] = D.DispenseDate        
    AND I.AnovoSite = D.SiteNo        
    AND I.NDC = D.NDC        
    AND I.Drug = D.Drug        
    AND I.[Type] = D.[Type]        
WHERE I.Drug = @Drugname        
AND  (                  
 (I.[Date] >= CAST(@FeedlastRunDate AS DATE) OR @FeedlastRunDate IS NULL)                  
AND I.[Date] <= @FeedCutOffdate   );        
 --UGO    
 --AND  (        
 --           (I.[Date] > @FeedlastRunDate OR @FeedlastRunDate IS NULL)        
 --           AND I.[Date] <= @FeedCutOffdate        
 --       );        
 --UGO                                  
                              
                  
      /******************************Insert into tables ************************************/                  
      DECLARE @RunId     BIGINT,                  
              @CreatedOn DATETIME,                  
              @CreatedBy VARCHAR(255); --,@ConfigMasterId INT                                 
      SELECT @RunId = Isnull(Max([RUNID]), 0) + 1                  
      FROM   [dbo].[dwhpatientascendisinventory];                  
                  
      --SELECT @RunId                                  
      SET @CreatedOn = Getdate();                  
      SET @CreatedBy = Suser_name();                  
              
      INSERT INTO dbo.[dwhpatientascendisinventory]                  
                  ([date],                  
                   [anovorxentity],                  
                   [itemdescription],                  
                   [anovosite],                  
                   [quantity],                  
                   [lot #],                  
                   [expirationdate],                  
                   [cost],                  
                   [extended cost], [ndc],                  
                   [qty sold],                  
                   [qtyadjusted],                  
                   [qtyreceived],                  
                   [uom],                  
                   restatementflag,                  
                   createdon,                  
                   createdby,                  
                   runid,                  
                   groupname)                  
         SELECT DI.[date]            AS [Date],                  
             --  DI.[Date] AS [Date],  -- CONVERT(VARCHAR(8), DP.DOB,112) AS [Patient Date of Birth],                            
             DI.anovorxentity                               AS [AnovoRxEntity],                  
             DI.itemdescription                             AS [ItemDescription],                 
             CASE                  
               WHEN DI.anovosite = 5 THEN 5                  
               WHEN DI.anovosite = 12 THEN 12                  
               ELSE ''                  
             END                                            AS [AnovoSite],                  
             DI.quantity                                    AS [Quantity],                  
             DI.lotnumber                                   AS [Lot #],                  
             DI.[expiration date]                           AS [Expiration Date],        
             DI.cost                                        AS [Cost],                  
             DI.[ExtendedCost]                              AS [Extended Cost],                  
             DI.[NDC]                                        AS [NDC],                  
             DI.[QtySold]                                   AS [Qty Sold],                  
             DI.[QtyAdjusted]                               AS [QtyAdjusted],                  
             DI.[QtyReceived]                               AS [QtyReceived],                  
             DI.[UOM]                                       AS [UOM],                  
             0                                              AS RestatementFlag,                  
             @CreatedOn                                     AS CreatedOn,                  
             @CreatedBy                                     AS CreatedBy,                  
             @RunId                                         AS RUNID,                  
             @GroupName                  
      FROM   #TempFinalData AS DI             
               
            --select * from     #TempFinalData  
      /*****************************InventoryScripts ******************************************************/                  
      IF ( @GroupName = 'AscendisPharmaEndocrinology'                  
            OR @GroupName = 'SFMC' )                  
    BEGIN                  
                
        SELECT                 
       CASE WHEN  ISNULL(DI.[Date],'')='' THEN  'UnKnown'--int                
          ELSE  FORMAT(CAST(NULLIF(DI.[date],'') AS DATETIME), 'yyyyMMdd') END AS [Date],  ---YYYYMMDD FORMAT              
        CASE WHEN DI.[anovorxentity] IS NULL THEN  'UnKnown'                
          ELSE DI.[anovorxentity] END AS [AnovoRx Entity],                  
        CASE WHEN DI.itemdescription IS NULL THEN 'UnKnown'                
          ELSE DI.itemdescription END  AS [Item Description],                
--TRY_CAST(DI.anovosite AS INT) AS anovosite,                
        CASE WHEN DI.[anovosite] IS NULL  THEN 'UnKnown'                
          ELSE DI.anovosite END   AS [Anovo Site],                
        CASE WHEN DI.[quantity] IS NULL THEN 'UnKnown'                
          ELSE  CAST(DI.quantity AS VARCHAR(20)) END   AS [Quantity],  --int                
        CASE WHEN DI.[lot #] IS NULL  THEN 'UnKnown'                
          ELSE DI.[lot #] END   AS [Lot],                
        CASE WHEN ISNULL(DI.[expirationdate],'')='' THEN 'UnKnown'                
          ELSE FORMAT(CAST(NULLIF(DI.[expirationdate],'') AS DATETIME), 'yyyyMMdd') END AS [Expiration Date] ,                
        CASE WHEN DI.cost IS NULL  THEN 'UnKnown'                
          ELSE  DI.cost END   AS [Cost],                 
        CASE WHEN DI.[extended cost] IS NULL  THEN 'UnKnown'                
          ELSE  DI.[extended cost]  END   AS [Extended Cost],       
        CASE             WHEN DI.ndc IS NULL OR LTRIM(RTRIM(DI.ndc)) = ''    
THEN 'Unknown'              WHEN LEN(DI.ndc) = 11 AND DI.ndc NOT LIKE '%[^0-9]%'    
THEN STUFF(STUFF(DI.ndc, 6, 0, '-'), 11, 0, '-')      
ELSE     
DI.ndc         END AS [NDC],        
 CASE WHEN DI.[qty sold] IS NULL  THEN 0               
          ELSE  CAST(DI.[qty sold] AS VARCHAR(20)) END   AS [QtySold], ----int                
        CASE WHEN DI.[qtyadjusted] IS NULL  THEN 0                
          ELSE  CAST(DI.[qtyadjusted] AS VARCHAR(20)) END   AS [QtyAdjusted], ----int                
        CASE WHEN DI.[qtyreceived] IS NULL THEN 0                
          ELSE CAST(DI.[qtyreceived] AS VARCHAR(20)) END   AS [QtyReceived], ----int                
        CASE WHEN DI.[uom] IS NULL  THEN 'UnKnown'                
          ELSE  DI.[uom] END   AS [UOM]       
        ,CASE                   
            WHEN RestatementFlag IS NOT NULL THEN                   
                    CASE                   
                        WHEN RestatementFlag = 1 THEN 'Y'                  
                        ELSE 'N'                  
                    END                  
            ELSE 'Unknown'                  
        END AS [Restatement Flag]                  
        FROM   dbo.[dwhpatientascendisinventory] DI                  
        WHERE  runid = @RunId;                  
    END;                  
        
  ELSE IF ( @GroupName = 'CourierHealth' )                  
        BEGIN                  
            SELECT               
                   FORMAT(CAST(NULLIF(DI.[date],'') AS DATETIME), 'yyyyMMdd') AS [Date],                        
                   DI.[anovorxentity]                            AS [AnovoRx Entity],                  
                   DI.itemdescription                            AS [Item Description],                  
                   DI.[anovosite]                                AS [Anovo Site],                  
                   DI.[quantity],DI.[lot #]                      AS [Lot],                  
                   FORMAT(CAST(NULLIF(DI.[expirationdate],'') AS DATETIME), 'yyyyMMdd')  AS[Expiration Date],                  
                   DI.cost                                       AS [Cost],                  
                   DI.[extended cost]                            AS [Extended Cost],        
                    CASE  WHEN LEN(DI.ndc) = 11                           
                    THEN STUFF(STUFF(DI.ndc, 6, 0, '-'), 11, 0, '-')                          
        ELSE ''                            
                    END AS [NDC] ,         
                    DI.[qty sold]                         AS [QtySold],                  
                   DI.[qtyadjusted]                              AS [QtyAdjusted],                  
                   DI.[qtyreceived]                              AS [QtyReceived],                  
                   DI.[uom]                  
            FROM   dbo.[dwhpatientascendisinventory] DI                  
            WHERE  runid = @RunId;                  
        END;                  
  END;                 
                