USE [Anovo_Reports]
GO
/****** Object:  StoredProcedure [dbo].[usp_prcDWHGetPreScriptStatus]    Script Date: 4/9/2026 1:24:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
    
ALTER   PROCEDURE [dbo].[usp_prcDWHGetPreScriptStatus]  (@FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50))                                              
AS                                                                  
/*                                                           
 DECLARE @FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50)                                                          
 SET @FeedCurrentRundate = GETDATE()                                                          
 SET @GroupName = 'AscendisPharmaEndocrinology'      -- CourierHealth  ,AscendisPharmaEndocrinology,SFMC                                                 
 SET @DataFileName = 'CNP_PRE_SCRIPT_STATUS_DAILY_CH' --'CNP_PRE_SCRIPT_STATUS_DAILY_CH'--'CNP_PRE_SCRIPT_STATUS_DAILY_ANOVO'                                                      
 SET @Frequency = 'DAILY'--'DAILY'                                                          
EXEC dbo.usp_prcDWHGetPreScriptStatus @FeedCurrentRundate,@GroupName,@DataFileName,@Frequency                                                         
                                                                                                  
*/                                                        
BEGIN                                                
SET NOCOUNT ON;                                                     
DECLARE @FeedlastRunDate DATETIME                                                            
SELECT TOP 1 @FeedlastRunDate = LastFeedRunDate FROM dbo.[DwhDataFeedFileGenerationList]                                                                           
 WHERE GroupName=@GroupName                                                       
 AND Frequency = @Frequency                                                       
 AND DataFileName = @DataFileName                                                      
 -- LastFeedRunDate will get modified from package after execution                                                       
--UPDATE [DwhDataFeedFileGenerationList] SET  LastFeedRunDate='2026-02-09 10:00:06.287'   WHERE [DataFileName]='CNP_PRE_SCRIPT_STATUS_DAILY_ANOVO'                                        
 DECLARE @FeedCutOffdate DATETIME 
 
 IF(@Frequency = 'DAILY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms, -3, CAST(CAST(@FeedCurrentRundate AS DATE) AS DATETIME)) 
    SET @FeedlastRunDate = cast(@FeedlastRunDate as date) -- Added
  END                                                                      
  ELSE IF (@Frequency = 'WEEKLY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms,-3,CAST(DATEADD(DAY,1,CAST(DATEADD(DAY,-1 -(DATEPART(WEEKDAY, @FeedCurrentRundate) + @@DATEFIRST - 2)% 7,@FeedCurrentRundate) AS DATE)) AS DATETIME))                                                                      
    SET @FeedlastRunDate = cast(@FeedlastRunDate as date)-- Added
  END                                                                      
  ELSE IF (@Frequency = 'MONTHLY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms, -3, DATEADD(MONTH, DATEDIFF(MONTH, 0, @FeedCurrentRundate), 0))
    SET @FeedlastRunDate = cast(@FeedlastRunDate as date)-- Added
  END                                                                      
  ELSE                       
  BEGIN
    SET @FeedCutOffdate = @FeedCurrentRundate -- TWICE DAILY 
    SET @FeedlastRunDate = @FeedlastRunDate -- Added
  END

 --SELECT @FeedlastRunDate,@FeedCutOffdate                                                  
                                                  
 DECLARE @Drugname VARCHAR(200) ,@TherapyId INT,@Title VARCHAR(200) ,@PHIFlag VARCHAR(10),@Email VARCHAR(255)                                                     
 SET @Drugname=(SELECT [Value]                                                 
      FROM [dbo].[DwhDbParameters]                                 
     WHERE UPPER(ParameterId) = 'DRUGNAME' )                      
                                    
                                                      
 SET @Title=(SELECT [Value]                                                         
    FROM [dbo].[DwhDbParameters]                                                         
    WHERE ParameterId = 'ASCENDIS ASMT NAME' )                                                    
                                                
SET @PHIFlag=(SELECT [Value]                                                         
    FROM [dbo].[DwhDbParameters]                                                   
    WHERE ParameterId = 'PHI' )                                                   
                              
 SELECT @TherapyId = TherapyId                                                   
 FROM dbo.DwhTherapy WHERE TherapyType = @Drugname                                                   
                                                    
 IF(@TherapyId IS NULL)                                                     
  SET @TherapyId = 9996                                                  
                                        
 IF OBJECT_ID('tempdb..#TempPatientWithoutOrders') IS NOT NULL                                          
  DROP TABLE #TempPatientWithoutOrders;                                        
                                        
 SELECT  DP.PatientId,DP.FirstName,DP.LastName,DP.Gender,DP.DOB,DPSR.StatusType,DPSR.[Status] AS PatientStatus                                
 INTO #TempPatientWithoutOrders                                        
 FROM dbo.DwhPatient AS DP                                                  
 INNER JOIN dbo.DwhPatientStatusReport AS DPSR                                                  
 ON DP.PatientId = DPSR.PatientId                                                   
 LEFT JOIN dbo.DwhOrders AS DO                                                  
 ON DP.PatientId = DO.PatientId                                       
LEFT JOIN dbo.DwhShipments AS DS ON DS.[PatientId] = DP.PatientId                                                
 WHERE DPSR.TherapyIdPortal =@TherapyId                                                  
 AND DO.PatientId IS NULL               
                
                                                
 IF OBJECT_ID('tempdb..#TempAscendis') IS NOT NULL                                                        
  DROP TABLE #TempAscendis;                                                        
                  
    SELECT P.FirstName,P.LastName,P.Gender,P.DOB,PAS.*               
      INTO #TempAscendis              
        --, ROW_NUMBER() OVER (PARTITION BY PAS.[PatientId] ORDER BY PAS.ModifiedOn DESC) AS RowId                                   
       FROM #TempPatientWithoutOrders P                                        
       INNER JOIN [dbo].[DwhPatientAssessments] PAS                                                        
         ON P.PatientId = PAS.patientId                                        
      WHERE PAS.Title = @Title AND PAS.[Status]='Complete'                                             
       
 AND (                                            
        (PAS.ModifiedOn > @FeedlastRunDate)OR @FeedlastRunDate IS NULL                                                                                               
        AND                                                                    
        (PAS.ModifiedOn<= @FeedCutOffdate)                                                                   
       )                                                     
            
                                                        
/***************************************************                                                        
                 Main Pivot Query                                                        
 ***************************************************/                                                        
IF OBJECT_ID('tempdb..#TempFinalData') IS NOT NULL                
    DROP TABLE #TempFinalData;                                                        
              
SELECT *               
INTO #TempFinalData  FROM              
(              
    SELECT DISTINCT                                                         
        p.PatientId,                                        
        P.FirstName,                                        
        P.LastName,                        
        P.Gender,                                    
        P.DOB,                                    
        p.[status],              
        [ModifiedOn],              
    [AssessmentId],                                                        
        p.[Date Referral Received:],                                                        
        p.[Date the A.S.A.P Patient Consent was Received:],                                                        
        p.[Patient Support Program Consent],  
     --  p.[Patient Support/Marketing Consent:],   
        p.[Date Patient Program Consent is signed:],                                                        
        p.[Text Message Consent:],                                                        
        p.[Date the Text Message Consent is signed:],                                                        
        p.[Patient Privacy Authorization:],                                                        
        p.[Date the Patient Privacy Authorization is signed:],                                                 
        p.[A.S.A.P Consent Form Received via:],                                      
        p.[If 'Other', please identify],                                                        
        p.[Authorized Mobile Phone Number:],                                                        
        p.[Authorized Alternate Phone Number:],                        
        p.[Identify Alternate Phone Number:],                                                        
        p.[Email Address:],                                                        
        p.[Street Address:],                                                        
        p.[City:],                                                        
        p.[State Initials:],                                                       
        p.[Zipcode:],                                                        
        p.[Legal Representative Name (if applicable):],                                                        
        p.[Legal Representative Relationship to Patient (if applicable):],                                                        
        p.[Comments],              
        ROW_NUMBER() OVER(PARTITION BY [p].[patientId] ORDER BY [p].[ModifiedOn] DESC) AS RowId              
                                                           
              
    FROM                                                        
    (                 
             
        SELECT                                                         
            PAS.PatientId,                                        
            PAS.FirstName,                                        
            PAS.LastName,                                        
            PAS.Gender,                                    
            PAS.DOB,                                    
            PAS.[status],                                                        
            PAS.Question,                                                        
            PAS.Answer,              
           [PAS].[ModifiedOn],              
        [PAS].[AssessmentId]              
           --, ROW_NUMBER() OVER (PARTITION BY PAS.[patientId],[PAS].[AssessmentId] ORDER BY PAS.[ModifiedOn] DESC)  AS  RowID                                                      
        FROM #TempAscendis PAS              
                 
                  
                                              
    ) AS src                                        
    PIVOT                                                        
    (                                     
        MAX(Answer)                                        
        FOR Question IN (                                                        
            [Date Referral Received:],                                                        
            [Date the A.S.A.P Patient Consent was Received:],                                                        
            --[Patient Support/Marketing Consent:],  
            [Patient Support Program Consent],                                                        
            [Date Patient Program Consent is signed:],                                                        
            [Text Message Consent:],                                                        
            [Date the Text Message Consent is signed:],                                                        
            [Patient Privacy Authorization:],                                                        
            [Date the Patient Privacy Authorization is signed:],                                                        
            [A.S.A.P Consent Form Received via:],                   
            [If 'Other', please identify],                                                        
            [Authorized Mobile Phone Number:],                                                        
            [Authorized Alternate Phone Number:],                                                        
            [Identify Alternate Phone Number:],                                                        
            [Email Address:],                                                        
            [Street Address:],                                                        
            [City:],                                                        
            [State Initials:],                                                        
            [Zipcode:],                                                        
            [Legal Representative Name (if applicable):],                                                        
            [Legal Representative Relationship to Patient (if applicable):],                                                        
            [Comments]                                                        
        )                                            
    ) AS p              
) AS T              
WHERE T.[RowId] = 1                
--SELECT * FROM #TempFinalData              
--/***************************************************                                                    
--           Get Latest Record Per Patient                                                    
--***************************************************/                                                    
--IF OBJECT_ID('tempdb..#TempFinalData') IS NOT NULL                                                 
--    DROP TABLE #TempFinalData;                                                       
                                                    
--SELECT * INTO #TempFinalData                                                    
--FROM (                   
--    SELECT                                                     
--        TF.PatientId,                                                    
--        TF.Status,                                                    
--        TF.Title,                                                    
--     TF.ModifiedOn,                                                    
--        TF.[Date the Patient Privacy Authorization is signed:],                                                    
--        TF.[Patient Privacy Authorization:],                                                    
--        TF.[Date Patient Program Consent is signed:],                                        
--        TF.[Text Message Consent:],                               
--        TF.[Date the Text Message Consent is signed:],                                                      
--        ROW_NUMBER() OVER (                                                    
--            PARTITION BY TF.PatientId                                                    
--            ORDER BY TF.ModifiedOn DESC                                   
--        ) AS rn                                                    
--    FROM #TempaAsmtData TF                                                    
--) x                                                    
--WHERE x.rn = 1                                           
 /******************Final Query**************************/                                                          
 DECLARE @RunId BIGINT,@CreatedOn DATETIME, @CreatedBy VARCHAR(255)--,@ConfigMasterId INT                                                         
                                  
 SELECT @RunId = ISNULL(MAX(RUNID),0) + 1 FROM [dbo].[DWHPatientAscendisPreScriptStatus]                                                          
 --SELECT @RunId                                                          
 SET @CreatedOn = GETDATE()                                                          
 SET @CreatedBy = SUSER_NAME()                                 
 INSERT INTO [dbo].[DWHPatientAscendisPreScriptStatus]                                                        
 (                       
  CreationDate,                                                        
  PatientId,                                                        
  PatientFirstName,                                                        
  PatientLastName,                                      
  PatientDateofBirth,                                                        
  PatientGender,                                                        
  PatientAddress,                                 
  PatientCity,                                                        
  PatientState,                                                        
  PatientZipCode,                                                        
  PatientPhone,                                                        
  PatientAlternatePhone,                                                        
  PatientEmailAddress,  
  [PatientSupportProgramConsent],   
  --[PatientSupport/MarketingConsent],                                               
  --PatientPrivacyAuthorization,                                                         
  LegalRepresentativeName,                                                        
  LegalRepresentativeRelationshiptoPatient,                                                        
  RestatementFlag,                                                        
  CreatedOn,                                                        
  CreatedBy,                                
  RUNID,                                                        
  GroupName                                                        
 )                                                        
 SELECT                                                                                   
 TF.[Date Referral Received:] AS [Creation Date],                                                 
TF.PatientId AS PatientId,                                                             
 --DP.PatientId,                                                            
 TF.FirstName AS [Patient First Name],                                                            
 TF.LastName AS [Patient Last Name],                                                            
 CONVERT(VARCHAR(8), TF.DOB,112) AS [Patient Date of Birth],      --Format YYYYMMDD                                                  
 CASE                                                             
 WHEN TF.Gender = 'M' THEN 'M'                                               
 WHEN TF.Gender = 'F' THEN 'F'                                                            
 WHEN TF.Gender = '' THEN 'U'            
ELSE 'U'                                                            
 END AS [Patient Gender],                                                          
 TF.[Street Address:] AS [Patient Address],                                                        
 TF.[City:] AS [Patient City],                                                        
 TF.[State Initials:] AS [Patient State],                                                                 
 TF.[Zipcode:] AS [Patient Zip Code],                                                        
 TF.[Authorized Mobile Phone Number:]  AS [Patient Phone],                                                     
 TF.[Authorized Alternate Phone Number:] AS [Patient Alternate Phone],                                                    
 TF.[Email Address:] AS [Patient Email Address],                                       
-- UGO TF.[Patient Privacy Authorization:] ,       
 --[Patient Support/Marketing Consent:],  
 [TF].[Patient Support Program Consent],     
 TF.[Legal Representative Name (if applicable):] AS [Legal Representative Name],                                                           
 TF.[Legal Representative Relationship to Patient (if applicable):] AS [Legal Representative Relationship to Patient]                                                        
 , 0 AS RestatementFlag                                                          
 ,@CreatedOn AS CreatedOn                                                          
 ,@CreatedBy AS CreatedBy                                                          
 ,@RunId AS RUNID                                                          
 ,@GroupName                                                        
 FROM #TempFinalData TF                                                                         
                                               
/*****************************PreScripts ******************************************************/                                                      
   IF(@GroupName = 'AscendisPharmaEndocrinology')                                  
    BEGIN                                                        
        SELECT                            
        CASE                             
        WHEN UniqueTransactionID IS NULL THEN 'UnKnown'                                                 
        ELSE UniqueTransactionID END  AS [Unique Transaction ID]                      
        --,CreationDate AS [Creation Date]                             
        ,CASE                             
        WHEN CreationDate IS NULL THEN 'UnKnown'                            
        ELSE FORMAT(CAST(CreationDate AS DATETIME), 'yyyyMMddHHmmss')                            
        END AS [Creation Date]                                               
        --, CASE  WHEN ISNULL(FORMAT(CAST(CreationDate AS DATETIME), 'yyyyMMddHHmmss'),'')='' THEN  AS [Creation Date]                             
        ,CASE                             
        WHEN PatientId IS NULL THEN 'UnKnown'                            
        ELSE (CAST(PatientId AS BIGINT) - 40119)                            
        END  AS [Patient ID]                               
                               
            ,CASE                             
                WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
                          WHEN ISNULL(PatientFirstName, '') = ''                             
                               THEN 'Unknown'                            
                          ELSE PatientFirstName                            
                    END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''          
        END AS [Patient First Name]                              
        --Last Nmae                             
            ,CASE                             
                WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
                          WHEN ISNULL(PatientLastName, '') = ''                             
                               THEN 'Unknown'                            
                          ELSE PatientLastName                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Patient Last Name]                                       
        --DateofBirth                                     
        ,CASE                             
                     WHEN @PHIFlag = 'true' THEN                            
                  CASE                             
                      WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                           CASE                             
                               WHEN ISNULL(PatientDateofBirth, '') = ''                             
                                    THEN 'Unknown'                            
                               ELSE FORMAT(CAST(PatientDateofBirth AS DATETIME), 'yyyyMMdd')                            
                           END                            
                      ELSE 'No Consent'                            
                      END                            
                  ELSE ''                            
             END AS [DOB]                                         
        -- Gender                            
            ,CASE                                     WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
                          WHEN ISNULL(PatientGender, '') = ''                             
                               THEN 'Unknown'                            
                          ELSE PatientGender                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Gender]                                                  
        -- Address                                         
        ,CASE                             
        WHEN @PHIFlag = 'true' THEN                            
        CASE                             
            WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                CASE                             
                    WHEN ISNULL(PatientAddress, '') = ''                             
                        THEN 'Unknown'                            
                    ELSE PatientAddress                            
                END                            
            ELSE 'No Consent'                            
            END                            
       ELSE ''                            
        END AS [Patient Address]                                  
        -- City                             
        ,CASE                             
  WHEN @PHIFlag = 'true' THEN                            
        CASE                             
            WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
      CASE                             
                    WHEN ISNULL(PatientCity, '') = ''                            
                        THEN 'Unknown'                            
                    ELSE PatientCity                            
                END                            
            ELSE 'No Consent'                            
            END                            
        ELSE ''                            
        END AS [Patient City]                                                                   
        -- State                             
        ,CASE                             
        WHEN @PHIFlag = 'true' THEN                          
        CASE                             
            WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                CASE                             
                    WHEN ISNULL(PatientState, '') = ''                             
                        THEN 'Unknown'                            
                    ELSE PatientState                            
                END                            
            ELSE 'No Consent'                            
            END                            
  ELSE ''                            
        END AS [Patient State]                                                  
        --zip code                                          
        ,CASE                             
        WHEN @PHIFlag = 'true' THEN                            
        CASE                             
            WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                CASE            
                    WHEN ISNULL(PatientZipCode, '') = ''                             
                        THEN 'Unknown'                            
                    ELSE PatientZipCode                            
                END                            
            ELSE 'No Consent'                            
            END                            
        ELSE ''                            
        END AS [Patient Zip Code]                             
                                
        -- Phone                            
        ,CASE                             
        WHEN @PHIFlag = 'true' THEN                            
        CASE                             
            WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                CASE                             
                    WHEN ISNULL(PatientPhone, '') = ''                             
                        THEN 'Unknown'                     
                    ELSE PatientPhone                            
                END                            
            ELSE 'No Consent'                            
            END                            
        ELSE ''                            
        END AS [Patient Phone]                                   
        -- Alternate Phone                                                
        ,CASE                                                 
        WHEN @PHIFlag = 'true' THEN                                                 
        CASE WHEN ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN PatientAlternatePhone                                         
                ELSE 'No Consent'                                                
        END                                                
        ELSE ''                                                
   END AS [Patient Alternate Phone]                     
           ,CASE           
                WHEN @PHIFlag = 'true' THEN                          
                CASE                          
   WHEN ISNULL([PatientSupportProgramConsent], '') <> 'A. Accepted'                          
                            THEN 'No Consent'                          
                        
                        ELSE                        
                            CASE                          
                                WHEN PatientEmailAddress IS NULL                          
                                     OR LTRIM(RTRIM(PatientEmailAddress)) = ''                          
                                    THEN ''                          
                                WHEN LOWER(PatientEmailAddress) LIKE '[a-z0-9]%@[a-z0-9]%.[a-z][a-z]%'                          
       AND PatientEmailAddress NOT LIKE '% %'                          
                                     AND PatientEmailAddress NOT LIKE '%..%'                          
                                     AND PatientEmailAddress NOT LIKE '%.@%'                          
                                     AND PatientEmailAddress NOT LIKE '%@.%'                          
                                    THEN PatientEmailAddress                          
                             ELSE ''                          
                            END                          
                    END                          
                ELSE ''                          
            END AS [Patient Email Address]                        
                                             
        ,LegalRepresentativeName AS[Legal Representative Name]            
        ,LegalRepresentativeRelationshiptoPatient AS [Relationship to Patient]                            
        ,CASE                           
        WHEN RestatementFlag IS NOT NULL THEN                             
        CASE                             
        WHEN RestatementFlag = 1 THEN 'Y'                            
        ELSE 'N'                            
        END                            
        ELSE ''                            
        END AS [Restatement Flag]                            
        FROM dbo.[DWHPatientAscendisPreScriptStatus]                                                
        WHERE RUNID = @RunId                                           
                                          
END                                                 
                                                
                                      
ELSE IF(@GroupName = 'CourierHealth')                                                
BEGIN                                               
    SELECT                                                 
        -- UniqueTransactionID AS [Unique Transaction ID]                             
        CASE                             
            WHEN ISNULL(UniqueTransactionID,'')='' THEN 'UnKnown'                                                 
            ELSE UniqueTransactionID                             
        END  AS [Unique Transaction ID]                                                
       ,CASE                             
            WHEN ISNULL(CreationDate,'')='' THEN 'UnKnown'                            
            ELSE FORMAT(CAST(CreationDate AS DATETIME), 'yyyyMMddHHmmss')                            
        END AS [Creation Date]                                 
          ,CASE                             
            WHEN ISNULL(PatientId,'')='' THEN 'UnKnown'                            
            ELSE (CAST(PatientId AS BIGINT) - 40119)                            
        END  AS [Patient ID]        
        -- Patient First Name                             
        , CASE                             
              WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientFirstName, '') = '' THEN 'Unknown'                            
                            ELSE PatientFirstName                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient First Name]                            
     -- Patient Last Name                            
    , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientLastName, '') = '' THEN 'Unknown'                      
                       ELSE PatientLastName                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient Last Name]                            
                                       
        -- Date of Birth                             
       , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                     WHEN ISNULL(PatientDateofBirth, '') = '' THEN 'Unknown'                            
                       ELSE FORMAT(CAST(PatientDateofBirth AS DATETIME), 'yyyyMMdd')                    
                   END                            
              ELSE 'No Consent'               
          END AS [Patient Date of Birth]                            
                                
        -- Gender                               
       , CASE                             
WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientGender, '') = '' THEN 'Unknown'                            
                       ELSE PatientGender                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient Gender]                            
    -- Address                               
        , CASE   WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientAddress, '') = '' THEN 'Unknown'                            
                       ELSE PatientAddress                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient Address]                           
         -- City                             
         , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                  WHEN ISNULL(PatientCity, '') = '' THEN 'Unknown'                            
                       ELSE PatientCity                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient City]                               
                                                     
        -- State                              
         , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientState, '') = '' THEN 'Unknown'                            
                       ELSE PatientState                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient State]                                           
         -- Zip Code                              
           , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientZipCode, '') = '' THEN 'Unknown'                            
                       ELSE PatientZipCode                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient Zip Code]                                               
        -- Phone                               
, CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(PatientPhone, '') = '' THEN 'Unknown'                            
                       ELSE PatientPhone                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient Phone]                                                
         -- Alternate Phone                                                
         ,CASE WHEN ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN PatientAlternatePhone                                                
               ELSE 'No Consent'                                                
           END AS [Patient Alternate Phone]                                                
                                                
            -- Email Address                             
               , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                WHEN ISNULL(PatientEmailAddress, '') = '' THEN 'Unknown'                            
                       ELSE PatientEmailAddress                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Patient Email Address]                              
             -- LegalRepresentativeName                             
            , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
          CASE                              
                       WHEN ISNULL(LegalRepresentativeName, '') = '' THEN 'Unknown'                            
                       ELSE LegalRepresentativeName                            
                   END                           
              ELSE 'No Consent'                            
          END AS [Legal Representative Name]                              
------------Relationship to Patient               
        , CASE                             
          WHEN ISNULL([PatientSupportProgramConsent], '') = 'A. Accepted' THEN                            
                   CASE                              
                       WHEN ISNULL(LegalRepresentativeRelationshiptoPatient, '') = '' THEN 'Unknown'                            
                       ELSE LegalRepresentativeRelationshiptoPatient                            
                   END                            
              ELSE 'No Consent'                            
          END AS [Relationship to Patient]                              
--,LegalRepresentativeRelationshiptoPatient AS [Relationship to Patient]                                             
                                                
    FROM dbo.[DWHPatientAscendisPreScriptStatus]                                                
    WHERE RUNID = @RunId AND [PatientSupportProgramConsent]= 'A. Accepted'                                               
                                             
END                                                 
                                                
 ELSE IF((@GroupName = 'SFMC' ))                                                     
     BEGIN                                                
                                                
SELECT  CASE                             
            WHEN UniqueTransactionID IS NULL THEN 'UnKnown'             --mandatory Fileds                                 
            ELSE UniqueTransactionID END  AS [Unique Transaction ID]                                                
       --,CreationDate AS [Creation Date]                             
        ,CASE                             
            WHEN CreationDate IS NULL THEN 'UnKnown'                            
            ELSE FORMAT(CAST(CreationDate AS DATETIME), 'yyyyMMddHHmmss')    --mandatory Fileds                                
        END AS [Creation Date]                                               
    --, CASE  WHEN ISNULL(FORMAT(CAST(CreationDate AS DATETIME), 'yyyyMMddHHmmss'),'')='' THEN  AS [Creation Date]                             
        ,CASE                             
            WHEN PatientId IS NULL THEN 'UnKnown'                   --mandatory Fileds                                
            ELSE (CAST(PatientId AS BIGINT) - 40119)                            
        END  AS [Patient ID]                                       
     -- Address    --mandatory Fileds                            
   ,CASE  WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
                          WHEN ISNULL(PatientAddress, '') = ''                             
                               THEN 'Unknown'                            
  ELSE PatientAddress                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Patient Address]                                                
                                                
            -- City                              
                            
,CASE  WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
                          WHEN ISNULL(PatientCity, '') = ''                             
                         THEN 'Unknown'                            
                          ELSE PatientCity                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Patient City]                                                   
              -- State                              
,CASE  WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
                          WHEN ISNULL(PatientState, '') = ''                         
                               THEN 'Unknown'                            
                          ELSE PatientState                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Patient State]                                          
        -- Zip Code                             
,CASE  WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
             CASE                             
                          WHEN ISNULL(PatientZipCode, '') = ''                             
                               THEN 'Unknown'                            
                          ELSE PatientZipCode                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Patient Zip Code]                             
      -- Phone                             
,CASE  WHEN @PHIFlag = 'true' THEN                            
             CASE                             
                 WHEN  ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN                            
                      CASE                             
      WHEN ISNULL(PatientPhone, '') = ''                             
                               THEN 'Unknown'                            
                          ELSE PatientPhone                            
                      END                            
                 ELSE 'No Consent'                            
                 END                            
             ELSE ''                            
        END AS [Patient Phone]                                               
 -- Alternate Phone                                                
            ,CASE                     
                WHEN @PHIFlag = 'true' THEN  CASE WHEN ISNULL([PatientSupportProgramConsent],'') = 'A. Accepted' THEN PatientAlternatePhone                                                
                     ELSE 'No Consent'                                                
                END                                                
                ELSE ''                                                
             END AS [Patient Alternate Phone]                                                
                                                
            -- Email Address                                                
            ,CASE                          
           WHEN @PHIFlag = 'true' THEN                          
                    CASE                          
                        WHEN ISNULL([PatientSupportProgramConsent], '') <> 'A. Accepted'                          
                            THEN 'No Consent'                          
                        
                        ELSE                          
                            CASE                          
                                WHEN PatientEmailAddress IS NULL                          
                                     OR LTRIM(RTRIM(PatientEmailAddress)) = ''                          
                                    THEN ''                          
                                WHEN LOWER(PatientEmailAddress) LIKE '[a-z0-9]%@[a-z0-9]%.[a-z][a-z]%'                          
                                     AND PatientEmailAddress NOT LIKE '% %'                          
                                     AND PatientEmailAddress NOT LIKE '%..%'                          
                                     AND PatientEmailAddress NOT LIKE '%.@%'                          
                                     AND PatientEmailAddress NOT LIKE '%@.%'                          
                                    THEN PatientEmailAddress                          
                             ELSE ''                          
                            END                          
                    END                          
                ELSE ''                          
            END AS [Patient Email Address]                                                 
            ,LegalRepresentativeName AS [Legal Representative Name]                                                
            ,LegalRepresentativeRelationshiptoPatient AS [Relationship to Patient]                                                
        FROM dbo.[DWHPatientAscendisPreScriptStatus]                        
        WHERE RUNID = @RunId                                            
                                                
     END            
END       