USE [Anovo_Reports]
GO
/****** Object:  StoredProcedure [dbo].[usp_prcDWHGetDispense]    Script Date: 4/9/2026 1:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----USE Anovo_Reports_AllSites                                                        
ALTER PROCEDURE [dbo].[usp_prcDWHGetDispense](@FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50))                 
 AS                                                                      
   /*                                                              
 DECLARE @FeedCurrentRundate DATETIME,@GroupName VARCHAR(255),@DataFileName VARCHAR(255),@Frequency VARCHAR(50)                                                              
 SET @FeedCurrentRundate = GETDATE()                                                              
 SET @GroupName = 'AscendisPharmaEndocrinology'  --'AscendisPharmaEndocrinology'     --CourierHealth ,AscendisPharmaEndocrinology                                                   
 SET @DataFileName = 'CNP_DISPENSE_DAILY_ANOVO'  --'CNP_DISPENSE_DAILY_ANOVO'       CNP_DISPENSE_DAILY_CH                                                   
 SET @Frequency = 'DAILY'   --'DAILY'      'TWICE DAILY                                                        
-- EXEC usp_prcDWHGetDispense @FeedCurrentRundate,@GroupName,@DataFileName,@Frequency                                                              
 */                                                           
BEGIN                                                                  
 SET NOCOUNT ON;                                                      
DECLARE @FeedlastRunDate DATETIME                                                              
 SELECT TOP 1 @FeedlastRunDate = LastFeedRunDate FROM dbo.[DwhDataFeedFileGenerationList]                                                                             
 WHERE GroupName=@GroupName                                                         
 AND Frequency = @Frequency                   
--UPDATE DwhDataFeedFileGenerationList SET [LastFeedRunDate]=NULL    WHERE [DataFileName]='CNP_DISPENSE_DAILY_ANOVO'       --2026-04-04 08:55:42.297        
 DECLARE @FeedCutOffdate DATETIME                                                    
 IF(@Frequency = 'DAILY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms, -3, CAST(CAST(@FeedCurrentRundate AS DATE) AS DATETIME)) 
    SET @FeedlastRunDate = cast(@FeedlastRunDate as date) -- Added
  END                                                                      
  ELSE IF (@Frequency = 'WEEKLY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms,-3,CAST(DATEADD(DAY,1,CAST(DATEADD(DAY,-1 -(DATEPART(WEEKDAY, @FeedCurrentRundate) + @@DATEFIRST - 2)% 7,@FeedCurrentRundate) AS DATE)) AS DATETIME))                                                                      
    SET @FeedlastRunDate = cast(@FeedlastRunDate as date)-- Added
  END                                                                      
  ELSE IF (@Frequency = 'MONTHLY')                                                                      
  BEGIN                                                                      
    SET @FeedCutOffdate = DATEADD(ms, -3, DATEADD(MONTH, DATEDIFF(MONTH, 0, @FeedCurrentRundate), 0))
    SET @FeedlastRunDate = cast(@FeedlastRunDate as date)-- Added
  END                                                                      
  ELSE                       
  BEGIN
    SET @FeedCutOffdate = @FeedCurrentRundate -- TWICE DAILY 
    SET @FeedlastRunDate = @FeedlastRunDate -- Added
  END               
 --SELECT @FeedlastRunDate,@FeedCutOffdate                                                    
                                                    
 DECLARE @Drugname VARCHAR(200) ,@TherapyId INT ,@PHIFlag VARCHAR(10),@NPI5 VARCHAR(10),@NPI12 VARCHAR(10),@DEA5 VARCHAR(10),@DEA12 VARCHAR(10)                                                          
 SET @Drugname=(SELECT [Value]                                                           
      FROM [dbo].[DwhDbParameters]                                                           
     WHERE UPPER(ParameterId) = 'DRUGNAME' )                                                     
                
 SELECT @TherapyId = TherapyId                 
 FROM dbo.DwhTherapy WHERE TherapyType = @Drugname                    
                          
 IF(@TherapyId IS NULL)                                                       
  SET @TherapyId = 9996                   
                                                   
SET @DEA5=(SELECT [Value]                      
    FROM [dbo].[DwhDbParameters]                                                           
    WHERE ParameterId = 'DEASite5' )                               
                              
SET @DEA12=(SELECT [Value]                                                           
    FROM [dbo].[DwhDbParameters]                                                           
    WHERE ParameterId = 'DEASite12' )                                 
                              
SET @NPI5=(SELECT [Value]                                                           
    FROM [dbo].[DwhDbParameters]                                              
    WHERE ParameterId = 'NPISite5' )                                 
                              
SET @NPI12=(SELECT [Value]                                                           
    FROM [dbo].[DwhDbParameters]                                                           
 WHERE ParameterId = 'NPISite12' )                                 
                              
SET @PHIFlag=(SELECT [Value]                                                           
    FROM [dbo].[DwhDbParameters]                                                           
    WHERE ParameterId = 'PHI' )                                 
                                      
/***************************************************************************/                                                      
                                               
 IF OBJECT_ID('tempdb..#PatientShipments') IS NOT NULL                                                                  
    DROP TABLE #PatientShipments;    
    
SELECT *                                                       
INTO #PatientShipments                                                      
FROM                                                       
(                                                      
    SELECT DISTINCT     
        DP.PatientId                                                  
        ,S.FillDate AS [Ship Date]                                                      
        ,S.OriginalRx AS [Rx Date]                                                      
        ,S.QtyDispense AS [Quantity Dispensed]                                                      
        ,CAST(S.DaysSupplied AS INT) AS [Days Supply]                                                      
        ,S.RefillNo AS [Refill Number]                                                      
        ,LEFT(DP.FirstName,1) + LEFT(DP.LastName,1) AS [Patient Initials]                                                      
        ,YEAR(DP.DOB) AS [Year Of Birth]                                                      
        ,DP.FirstName AS [Patient First Name]                                                      
        ,DP.LastName AS [Patient Last Name]                                                      
        ,S.Drug AS [Drug NAME]                                                      
        ,S.RefillsAllow AS [Refills Allowed]                                                      
        ,S.RefillsRemaning AS [Refills Remaining]                                                      
        ,S.InsuranceType AS [Order Payer Type]                            
        ,S.InsuranceName AS [Payer Name]                                                      
        ,O.NDC AS [NDC]                                                      
        ,DP.Icd10_1Code AS [ICD10]    
    
        -- Correct window functions    
        ,MIN(S.FillDate) OVER (PARTITION BY DP.PatientId) AS [Patient First Ship Date]                                                      
        ,MAX(S.FillDate) OVER (PARTITION BY DP.PatientId) AS [Patient Last Ship Date]                                               
    
        ,S.RxNo AS [RX Number]                                                   
        ,CASE WHEN S.RefillNo = 0 THEN 'N' ELSE 'R' END AS [Rx Type]                                                  
        ,S.LabelInstructions AS [RX Directions]                                         
        ,S.ShipmentAddress AS [Shipping Address 1]                                                      
        ,'' AS [Shipping Address 2]                                     
        ,S.ShipmentCity AS [Shipping City]                                                      
        ,S.ShipmentState AS [Shipping State]   -- FIXED                       
        ,S.ShipmentZip AS [Shipping Zip]                       
    
        ,S.NextRefill AS [Next Fill Date]                                                      
        ,S.RefillsAllow AS [Total Fill Number]                                                      
        ,DP.HcpId                                                      
        ,S.InsuranceId                                    
        ,S.[Lot]                                    
        ,S.[UOMText]                              
        ,S.[ShipSiteNo]                            
        ,S.SHIPMENTTYPE    
        ,S.[BillNo]    
        ,S.[Confirmed]    
    
        -- Row ranking logic    
        ,ROW_NUMBER() OVER (    
            PARTITION BY DP.PatientId, O.OrderId     
            ORDER BY S.RefillNo DESC    
        ) AS RowId                
    
    FROM dbo.DwhPatientStatusReport AS DPSR                                                      
    INNER JOIN dbo.DwhPatient DP                                                                  
        ON DP.PatientId = DPSR.PatientId                                                      
    INNER JOIN dbo.DwhOrders O                                                      
        ON O.PatientId = DP.PatientId                                                      
    INNER JOIN dbo.DwhShipments S                                                      
        ON S.PatientId = O.PatientId                                                      
        AND S.OrderId = O.OrderId                                                       
   
    WHERE     
        O.[Status] = 'Active'                                                      
        AND S.[Confirmed] = 'C'                                                      
        AND DPSR.TherapyIdPortal = 9996               
       
        -- Optional filter (keep if needed)    
    
        AND (    
            (S.FillDate >= @FeedlastRunDate OR @FeedlastRunDate IS NULL)    
            AND (S.FillDate <= @FeedCutOffdate )    
        )    
) AS T     
--WHERE T.RowId = 1                                    
     
 /***********************************************************************************/                                                 
                                                        
 DECLARE @Title VARCHAR(200)                                                          
 SET @Title=(SELECT [Value]                                                           
  FROM [dbo].[DwhDbParameters]                                                           
    WHERE ParameterId = 'ASCENDIS ASMT NAME' )                                                          
                                                          
 IF OBJECT_ID('tempdb..#TempAscendis') IS NOT NULL                                                          
  DROP TABLE #TempAscendis;                                                          
                                                          
 SELECT PAS.*                                                          
 INTO #TempAscendis                                                          
   FROM [dbo].[DwhPatientAssessments] PAS                          
   INNER JOIN (SELECT DISTINCT PatientId FROM #PatientShipments ) B                        
 ON PAS.patientId = B.PatientId     
  WHERE PAS.Title = @Title AND PAS.Status='Complete'                                     
                            
--/***************************************************                                                              
--                 Main Pivot Query                                              
-- ***************************************************/                                                             
IF OBJECT_ID('tempdb..#TempaAsmtData') IS NOT NULL                                             
    DROP TABLE #TempaAsmtData;                                                              
                                                              
SELECT DISTINCT                                                               
        p.PatientId,                                                    
        P.Status,                                                    
        P.Title,                                                    
        P.ModifiedOn,                                                    
    P.[Date the Patient Privacy Authorization is signed:],                                                    
    p.[Patient Privacy Authorization:],                                                    
    p.[Date Patient Program Consent is signed:],                            
    p.[Patient Support Program Consent]                             
INTO #TempaAsmtData                                                              
FROM                                                              
(                                         
    SELECT                                                               
        PAS.PatientId,                                                              
        PAS.[status],                                                    
   PAS.Title,                                                    
        PAS.ModifiedOn,                                                             
        PAS.Question,                                                              
        PAS.Answer                                                              
    FROM #TempAscendis PAS                                                              
) AS src                                                              
PIVOT                                                              
(                                                              
    MAX(Answer)                                                              
    FOR Question IN (                                                              
    [Date the Patient Privacy Authorization is signed:],                                                    
    [Patient Privacy Authorization:],                                                    
    [Date Patient Program Consent is signed:],            
    [Patient Support Program Consent]                                                                
    )                                                              
) AS p;                                                    
                                                    
/***************************************************                                                    
           Get Latest Record Per Patient                                                
***************************************************/                                               
IF OBJECT_ID('tempdb..#TempFinalData') IS NOT NULL                                                              
    DROP TABLE #TempFinalData;                                                       
                                                    
SELECT * INTO #TempFinalData                                                    
FROM (                                                    
    SELECT                                                     
        TF.PatientId,                                                    
        TF.Status,                                
        TF.Title,                  
        TF.ModifiedOn,                                                    
        TF.[Date the Patient Privacy Authorization is signed:],                                                    
        TF.[Patient Privacy Authorization:],                                                    
        TF.[Date Patient Program Consent is signed:],              
        [TF].[Patient Support Program Consent],                                                     
        ROW_NUMBER() OVER (                                                    
            PARTITION BY TF.PatientId                                                    
            ORDER BY TF.ModifiedOn DESC                              
        ) AS rn                                 
    FROM #TempaAsmtData TF                                                    
) x                                                    
WHERE x.rn = 1                                                   
                                                  
/***********************#PatientInsurance*************************************/                                                   
 IF OBJECT_ID('tempdb..#PatientInsurance') IS NOT NULL                                                                      
  DROP TABLE #PatientInsurance;                                                      
 WITH Patients                                                      
 AS                                                      
 (                                                      
  SELECT DISTINCT PatientId FROM #PatientShipments                                                        
 )                                                      
                                                       
 SELECT DPI.PatientId                                                     
   , DPI.InsuranceName                                                      
   , DPI.InsuranceType                                                      
   , DPI.[Rank]                                                      
   , DPI.[Status]                                                      
   , DPI.GroupNo                                   
   , DI2.BinNo                                                      
   , DI2.PCN                                                          
  INTO #PatientInsurance                                                                 
  FROM dbo.DwhInsurance AS DI2                                                        
  INNER JOIN dbo.DwhPatientInsurance AS DPI                                                                       
  ON DPI.InsuranceId = DI2.InsuranceId                                                      
   INNER JOIN #PatientShipments P                                                  
  ON P.PatientId = DPI.PatientId      
 AND p.[InsuranceId]= DPI.[InsuranceId]        
  WHERE DPI.[DelFlag]=0                                                    
      
                         
 IF OBJECT_ID('tempdb..#TempPrimaryPatientIns') IS NOT NULL                                                                      
  DROP TABLE #TempPrimaryPatientIns;                                                      
                                                        
 SELECT *                                                                  
   INTO #TempPrimaryPatientIns                                                                  
   FROM #PatientInsurance                                                                      
  WHERE [Rank]='1.0'                                                    
                                                                  
                                                                  
 IF OBJECT_ID('tempdb..#TempSecondaryPatientIns') IS NOT NULL                                                                      
  DROP TABLE #TempSecondaryPatientIns;                                                           
                                                        
 SELECT *                                                      
   INTO #TempSecondaryPatientIns                                                                  
   FROM #PatientInsurance                                                                      
  WHERE [Rank]='2.0'                      
                                                                       
 IF OBJECT_ID('tempdb..#TempTertiaryPatientIns') IS NOT NULL     
  DROP TABLE #TempTertiaryPatientIns;                                                      
                                                        
 SELECT *                                                                  
   INTO #TempTertiaryPatientIns                                                                  
   FROM #PatientInsurance                                
  WHERE [Rank]='3.0'                 
              
/*********************************************************************              
COPAY Details               
********************************************************************/                                                                  
 IF OBJECT_ID('tempdb..#TempCopyData') IS NOT NULL                                                                      
  DROP TABLE #TempCopyData;                 
SELECT * INTO #TempCopyData              
FROM (              
    SELECT               
         SH.PatientId,              
        SH.[RX Number]              
        , SH.[BillNo]              
        , SH.[Refill Number]              
        , claim.ClaimExpected              
        , claim.ClaimTotalPayments,[claim].[ClaimPatientPayYn] AS [ClaimPatientPayYn] ,[claim].[ClaimBilled] AS [ClaimBilled]              
        , ROW_NUMBER() OVER (              
            PARTITION BY SH.PatientId,SH.[BillNo]               
            ORDER BY claim.[CreatedOn] DESC  ---claim.ClaimInvoiceNumber, crea              
          ) AS rowid              
 FROM #PatientShipments AS SH              
    INNER JOIN dbo.DwhClaim AS claim               
        ON claim.PatientId = sh.PatientId              
       AND claim.ClaimInvoiceNumber = SH.[BillNo]              
       AND claim.ClaimStatus = 'Ready To Bill'          -- need to small clarefactions    
    WHERE SH.[Confirmed] = 'C'              
     AND claim.ClaimPatientPayYn = 'Y'              
) T              
--WHERE T.rowid = 1; /************************Copay with Insurances***************************/               
IF OBJECT_ID('tempdb..#TempCopy') IS NOT NULL                                                                      
  DROP TABLE #TempCopy;                     
               
SELECT TCD.PatientId,[TCD].ClaimExpected,[TCD].ClaimTotalPayments,PIN.[Rank],[TCD].[ClaimBilled],[TCD].[ClaimPatientPayYn]              
INTO #TempCopy              
FROM [#TempCopyData] AS [TCD]              
 LEFT JOIN #PatientInsurance  PIN               
ON PIN.[PatientId]=[TCD].[PatientId]                                               
                 
 /******************Primary Copay ****************/                
                                           
 IF OBJECT_ID('tempdb..#TempCopyPrimaryIns') IS NOT NULL                                                                      
  DROP TABLE #TempCopyPrimaryIns;                                                      
                                                        
 SELECT *                                                                  
   INTO #TempCopyPrimaryIns                                                                  
   FROM #TempCopy                                                                      
  WHERE [Rank]='1.0'                         
/*****************Secondary copay***********************/                  
                                         
 IF OBJECT_ID('tempdb..#TempCopySecondaryIns') IS NOT NULL                                                                      
  DROP TABLE #TempCopySecondaryIns;                                                           
                                       
 SELECT *                                                                  
   INTO #TempCopySecondaryIns                                                                 
   FROM #TempCopy                                                                      
  WHERE [Rank]='2.0'                        
 --******************************************************                                                                  
 -- MAIN QUERY                                                                  
 --******************************************************                                                            
 DECLARE @RunId BIGINT,@CreatedOn DATETIME, @CreatedBy VARCHAR(255)--,@ConfigMasterId INT                                                              
                                           
 SELECT @RunId = ISNULL(MAX(RUNID),0) + 1 FROM [dbo].[DWHPatientAscendisDispense]                                                              
 --SELECT @RunId                                                              
 SET @CreatedOn = GETDATE()                                                              
 SET @CreatedBy = SUSER_NAME()                                                          
                                                        
/***************************INSERT INTO [DWHPatientAscendisDispense]****************************/                                                        
INSERT INTO [dbo].[DWHPatientAscendisDispense]                                                        
(                                                        
    [EncryptedID],[ShipDate],[RxDate],[QuantityDispensed],[DaysSupply],[RefillNumber],                                                        
[PatientInitials],[YearOfBirth],[PatientFirstName],[PatientLastName],                                                        
    [DrugName],[RefillsAllowed],[RefillsRemaining],[OrderPayerType],[PayerName],                                                        
    [BIN],[PCN],[SecondaryPayerType],[SecondaryPayerName],[SecondaryBIN],[SecondaryPCN],                                                        
    [TertiaryPayerType],[TertiaryPayerName],[TertiaryBIN],[TertiaryPCN],                                                        
    [NDC],[HCPNPI],[HCPFirstName],[HCPLastName],[HCPPractice],[HCPDEA],[HCPGroup],                                                        
    [HCPAddress],[HCPCity],[HCPState],[HCPZip],[OfficeContact],[OfficeContactPhone],                                                        
    [OfficeContactFax],[OfficeContactEmail],[ICD10],[PatientFirstShipDate],                                                        
    [PatientLastShipDate],[QuantityUOM],[RxNumber],[RxType] ,                                                    
    [RX Directions],[ShippingAddress1],[ShippingAddress2],                                                        
    [ShippingCity],[ShippingState],[ShippingZip],[ProductLotNumber],                                                        
    [PatientPHIHIPAAConsentDate],[ShipToLocationType],[NextFillDate],[TotalFillNumber],                                                        
    [FinalPatientOutOfPocketCost],
    [CopayCardVoucherUsed]
    ,[PrimaryCopayAmount],                                                        
    [SecondaryCopayAmount],
    [LocationDEA],[LocationNPINumber],[FlexField0],[FlexField1],                                                        
    [FlexField2],[FlexField3],[FlexField4],[FlexField5],[FlexField6],                                                        
    [RestatementFlag],[CreatedOn],[CreatedBy],[RUNID],[GroupName]                                  
)                                                       
 SELECT DISTINCT PS.PatientId AS [EncryptedID],                                                    
 REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), PS.[Ship Date], 120), '-', ''), ' ', ''), ':', '') AS [Ship Date],                  
 REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), PS.[Rx Date], 120), '-', ''), ' ', ''), ':', '') AS [Rx Date],                                                           
  ROUND(PS.[Quantity Dispensed],0) AS [Quantity Dispensed],                                                        
  PS.[Days Supply],                                                        
  PS.[Refill Number],                                                        
  PS.[Patient Initials],                                                        
  PS.[Year Of Birth],                                                        
  PS.[Patient First Name],                                           
  PS.[Patient Last Name],                       
  PS.[Drug Name],                                                        
  PS.[Refills Allowed],                                                        
  PS.[Refills Remaining],                                                        
  PP.InsuranceType AS [OrderPayerType],                                                        
  PP.InsuranceName AS [PayerName],                                                        
  PP.BinNo AS [BIN],                                                        
  PP.PCN AS [PCN],                                                        
  SP.InsuranceType AS [SecondaryPayerType],                                                        
  SP.InsuranceName AS [SecondaryPayerName],                                                        
  SP.BinNo AS [SecondaryBIN],                                                        
  SP.PCN AS [SecondaryPCN],                                                        
  TP.InsuranceType AS [TertiaryPayerType],                                           
  TP.InsuranceName AS [TertiaryPayerName],                                                        
  TP.BinNo AS [TertiaryBIN],                                                        
  TP.PCN AS [TertiaryPCN],                                                        
  PS.NDC,                                                        
  DH.NPI AS [HCPNPI],                                                        
DH.FirstName AS [HCPFirstName],                
  DH.LastName AS [HCPLastName],                                                        
  DH.Specialty AS [HCPPractice],                                                        
  DH.DEA AS [HCPDEA],                                                        
  DH.Organization AS [HCPGroup],                                                        
  CONCAT(DH.[Address], ' ', DH.Address2) AS [HCPAddress],                                                   
  DH.City AS [HCPCity],                                                        
  DH.[State] AS [HCPState],                                                        
  DH.Zip AS [HCPZip],                                                        
  DH.OfficeContactName AS [OfficeContact],                                                        
  DH.Phone AS [OfficeContactPhone],                                                        
  DH.Fax AS [OfficeContactFax],                
  DH.Email AS [OfficeContactEmail],                                                        
  PS.[ICD10],                                                        
  REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), PS.[Patient First Ship Date], 120), '-', ''), ' ', ''), ':', '') AS [Patient First Ship Date],                                                        
  REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), PS.[Patient Last Ship Date], 120), '-', ''), ' ', ''), ':', '') AS [Patient Last Ship Date],    
  PS.[UOMText] AS [QuantityUOM],                                                        
  PS.[Rx Number],                                                  
  PS.[RX Type],                                                  
  PS.[RX Directions],                                                    
  PS.[Shipping Address 1],                                                        
  PS.[Shipping Address 2],                                                        
  PS.[Shipping City],                                                        
  PS.[Shipping State],                                                        
  PS.[Shipping Zip], PS.[Lot] AS [ProductLotNumber],                                                        
  REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19),TAD.[Date the Patient Privacy Authorization is signed:], 120), '-', ''), ' ', ''), ':', '') AS [PatientPHIHIPAAConsentDate],                                       
 ---Format  yyyymmddhhmmss                                                    
  CASE                              
        WHEN  PS.SHIPMENTTYPE='Patient Address'  THEN '1'                            
        WHEN  PS.SHIPMENTTYPE='MD Office'    THEN '2'                            
        ELSE '3' END  AS [ShipToLocationType],                                                        
  REPLACE(REPLACE(REPLACE(CONVERT(VARCHAR(19), PS.[Next Fill Date], 120), '-', ''), ' ', ''), ':', '') AS [Next Fill Date],                                                        
  PS.[Total Fill Number],                                                        
 /*CAST( (TC.[ClaimBilled]- TC.[ClaimExpected]) AS FLOAT) AS [FinalPatientOutOfPocketCost],                                                  
  CASE  WHEN TC.[ClaimPatientPayYn]='Y' THEN 'YES'              
        WHEN TC.[ClaimPatientPayYn]='N' THEN 'NO'              
         ELSE '' END  AS [CopayCardVoucherUsed],                                                        
  CPI.[ClaimExpected] AS [PrimaryCopayAmount],                                                        
  [CSI].[ClaimExpected] AS [SecondaryCopayAmount], */
  NULL AS FinalPatientOutOfPocketCost,
  '' AS CopayCardVoucherUsed,
  NULL AS PrimaryCopayAmount,
  NULL AS SecondaryCopayAmount,
  
  CASE WHEN PS.[ShipSiteNo]=5 THEN @DEA5                               
        WHEN PS.[ShipSiteNo]=12 THEN @DEA12 ELSE'' END AS [LocationDEA],                                                        
  CASE  WHEN PS.[ShipSiteNo]=12 THEN @NPI12                               
        WHEN PS.[ShipSiteNo]=5 THEN @NPI5 ELSE '' END AS [LocationNPINumber],                                                        
  NULL AS [FlexField0],                                            
  NULL AS [FlexField1],                                                 
  NULL AS [FlexField2],                                                        
  NULL AS [FlexField3],                                                        
  NULL AS [FlexField4],                                                        
 NULL AS [FlexField5],                                                        
  NULL AS [FlexField6],                                                        
  0 AS [RestatementFlag],                                                        
  @CreatedOn AS [CreatedOn],                                                        
   @CreatedBy AS [CreatedBy],                                                        
  @RunId AS [RUNID],                                                        
  @GroupName AS [GroupName]                                                        
 FROM #PatientShipments AS PS                                                        
 --LEFT JOIN dbo.DwhPatient DP ON DS.PatientId = DP.PatientId                                                        
 LEFT JOIN #TempPrimaryPatientIns PP ON PP.PatientId = PS.PatientId                                                        
 LEFT JOIN #TempSecondaryPatientIns SP ON SP.PatientId = PS.PatientId                                                        
 LEFT JOIN #TempTertiaryPatientIns TP ON TP.PatientId = PS.PatientId                                                        
 LEFT JOIN dbo.DwhHCP DH ON PS.HcpId = DH.HcpId                                                  
 LEFT JOIN #TempFinalData TAD ON TAD.patientId = PS.PatientId               
LEFT JOIN #TempCopyPrimaryIns CPI ON [CPI].[PatientId] = [PS].[PatientId]              
 LEFT JOIN  #TempCopySecondaryIns CSI ON [CSI].[PatientId] = [PS].[PatientId]                               
LEFT JOIN #TempCopy TC ON TC.[PatientId]=[PS].[PatientId]                                      
/**********************[DWHPatientAscendisDispense]************************/                                                        
IF( @GroupName = 'AscendisPharmaEndocrinology' OR @GroupName = 'SFMC' )                                                   
 BEGIN                                       
                                                    
        SELECT                                                         
 CASE WHEN DPAS.UniqueTransactionID IS NULL THEN 'UnKnow' ELSE CAST(DPAS.UniqueTransactionID AS NVARCHAR(50)) END  AS [Unique Transaction ID]                            
,CASE WHEN DPAS.[EncryptedID] IS NULL THEN 'UnKnow' ELSE  (CAST(DPAS.[EncryptedID] AS BIGINT) - 40119) END  AS [Encrypted ID]                                        
,CASE WHEN ISNULL(DPAS.ShipDate,'')='' THEN 'UnKnow' ELSE   FORMAT(CAST(NULLIF(DPAS.ShipDate,'') AS DATETIME), 'yyyyMMddHHmmss')  END AS [Ship Date]                                        
--,DPAS.RxDate                                      
,CASE WHEN ISNULL(DPAS.RxDate,'')='' THEN 'UnKnow' ELSE  FORMAT(CAST(NULLIF(DPAS.RxDate,'') AS DATETIME), 'yyyyMMddHHmmss') END  AS [Rx Date]                                        
,CASE WHEN DPAS.QuantityDispensed IS NULL THEN 'UnKnow' ELSE  CAST(ROUND(DPAS.QuantityDispensed,0) AS VARCHAR(20))  END AS [Quantity Dispensed]                                        
,CASE WHEN DPAS.DaysSupply IS NULL THEN 'UnKnow' ELSE CAST(DPAS.DaysSupply AS VARCHAR(20)) END  AS [Days Supply]                                                     
,CASE WHEN DPAS.RefillNumber IS NULL THEN 'UnKnow' ELSE CAST(DPAS.RefillNumber AS VARCHAR(20))  END  AS [Refill Number]                                      
,CASE WHEN ISNULL(DPAS.PatientInitials,'')='' THEN 'UnKnow' ELSE DPAS.PatientInitials END  AS [Patient Initials]                                      
,CASE WHEN DPAS.YearOfBirth IS NULL THEN 'UnKnow' ELSE CAST(DPAS.YearOfBirth AS VARCHAR(50)) END  AS [Year Of Birth]                                                  
 -- Patient First Name                                       
,CASE  WHEN @PHIFlag = 'true' THEN                                        
             CASE                                         
                 WHEN  ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN                                        
                      CASE                                         
                          WHEN ISNULL(DPAS.PatientFirstName, '') = ''                                         
                               THEN 'Unknown'                                        
                          ELSE DPAS.PatientFirstName                                        
                      END                                        
                 ELSE 'No Consent'             
                 END                                        
             ELSE ''                                        
        END AS [Patient First Name]   -- Patient First Name                                                 
   -- Patient Last Name                                                  
,CASE  WHEN @PHIFlag = 'true' THEN                                        
             CASE                                         
                 WHEN  ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN                                        
                      CASE                                         
                          WHEN ISNULL(DPAS.PatientLastName, '') = ''                                  
                               THEN 'Unknown'                                        
                          ELSE DPAS.PatientLastName                                        
                      END                                        
    ELSE 'No Consent'                                        
                 END                                        
             ELSE ''                                        
        END AS [Patient Last Name]                                                   
,CASE WHEN ISNULL(DPAS.DrugName,'')='' THEN 'Unknown' ELSE DPAS.DrugName END AS [Drug Name]                                      
,CASE WHEN DPAS.RefillsAllowed IS NULL THEN 'Unknown' ELSE CAST(DPAS.RefillsAllowed AS VARCHAR(20)) END AS [Refills Allowed]                                      
,CASE WHEN DPAS.RefillsRemaining IS NULL THEN 'Unknown' ELSE CAST(DPAS.RefillsRemaining AS VARCHAR(20)) END AS [Refills Remaining]                                      
,CASE WHEN ISNULL(DPAS.OrderPayerType,'')='' THEN 'Unknown' ELSE DPAS.OrderPayerType END  AS [Order Payer Type]                                        
,CASE WHEN ISNULL(DPAS.PayerName,'')='' THEN 'Unknown' ELSE DPAS.PayerName  END AS [Payer Name]                     
,BIN AS [BIN],PCN AS [PCN],DPAS.SecondaryPayerType AS [Secondary Payer Type],DPAS.SecondaryPayerName AS [Secondary Payer Name],                                        
DPAS.SecondaryBIN AS [Secondary BIN],DPAS.SecondaryPCN AS [Secondary PCN],DPAS.TertiaryPayerType AS [Tertiary Payer Type]                      
,DPAS.TertiaryPayerName AS [Tertiary Payer Name],DPAS.TertiaryBIN AS [Tertiary BIN],DPAS.TertiaryPCN AS [Tertiary PCN]                                        
--,CASE WHEN ISNULL(DPAS.[NDC],'')='' THEN 'Unknown' ELSE DPAS.NDC  END AS [NDC]                                    
,CASE                                   
    WHEN DPAS.[NDC] IS NULL THEN 'Unknown'                                  
    WHEN LEN(DPAS.[NDC]) = 11                                   
        --THEN STUFF(STUFF(DPAS.[NDC], 6, 0, '-'), 10, 0, '-')         
       THEN STUFF(STUFF(DPAS.[NDC], 6, 0, '-'), 11, 0, '-')                                   
    ELSE DPAS.[NDC]   -- or 'Invalid NDC'                                  
END AS [NDC]                                     
,CASE WHEN ISNULL(DPAS.HCPNPI,'')='' THEN 'Unknown' ELSE DPAS.HCPNPI END AS [HCP NPI]                                      
,CASE WHEN ISNULL(DPAS.HCPFirstName,'')='' THEN 'Unknown' ELSE DPAS.HCPFirstName END AS [HCP First Name]                                      
,CASE WHEN ISNULL(DPAS.HCPLastName,'')='' THEN 'Unknown' ELSE DPAS.HCPLastName  END AS [HCP Last Name],                                                    
 DPAS.HCPPractice AS [HCP Practice],DPAS.HCPDEA AS [HCP DEA]/*,DPAS.HCPGroup AS [HCP Group]*/                                      
,CASE WHEN ISNULL(DPAS.HCPAddress,'')='' THEN 'Unknown' ELSE DPAS.HCPAddress  END AS [HCP Address]                                      
,CASE WHEN ISNULL(DPAS.HCPCity,'')='' THEN 'Unknown' ELSE DPAS.HCPCity END AS [HCP City]                                        
,CASE WHEN ISNULL(DPAS.HCPState,'')='' THEN 'Unknown' ELSE DPAS.HCPState END  AS [HCP State]                                      
,CASE WHEN ISNULL(DPAS.HCPZip,'')='' THEN 'Unknown' ELSE DPAS.HCPZip END  AS [HCP Zip]                                                
,DPAS.OfficeContact AS [Office Contact],DPAS.OfficeContactPhone AS [Office Contact Phone]                                                  
 ,DPAS.OfficeContactFax AS [Office Contact Fax],DPAS.OfficeContactEmail AS [Office Contact Email]                                      
,CASE WHEN ISNULL(DPAS.[ICD10],'')='' THEN 'Unknown' ELSE ICD10  END AS [ICD10]                                                   
,CASE WHEN ISNULL(DPAS.PatientFirstShipDate,'')=''                                     
THEN 'Unknown' ELSE  FORMAT(CAST(NULLIF(DPAS.PatientFirstShipDate,'') AS DATETIME), 'yyyyMMddHHmmss') END  AS [Patient First Ship Date]                                     
,CASE WHEN ISNULL(DPAS.PatientLastShipDate,'')=''                                     
THEN 'Unknown' ELSE FORMAT(CAST(NULLIF(DPAS.PatientLastShipDate,'') AS DATETIME), 'yyyyMMddHHmmss') END AS [Patient Last Ship Date]                                      
,CASE WHEN DPAS.QuantityUOM IS NULL  THEN 'Unknown' ELSE CAST( DPAS.QuantityUOM AS NVARCHAR) END AS [Quantity UOM]                                      
-- Patient RxNumber                                     
,CASE  WHEN @PHIFlag = 'true' THEN                                        
             CASE                                         
                 WHEN  ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN                                        
                      CASE                                         
    WHEN ISNULL(DPAS.RxNumber, '') = ''                               
                               THEN 'Unknown'                                        
                          ELSE DPAS.RxNumber                                        
                      END                                        
                 ELSE 'No Consent'                                        
                 END                                        
             ELSE ''                                        
        END AS [RX Number]                                                   
        --   CASE                                                   
        --        WHEN @PHIFlag = 'true' THEN                                                   
        --             CASE    WHEN ISNULL(TAD.[Patient Privacy Authorization:],'') = 'Accepted' THEN DPAS.RxNumber                                                   
        --                      ELSE 'No Consent'                                                  
        --              END                        
        --        ELSE ''                  
        --     END AS [RX Number],                           
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.RxNumber END AS [RX Number],                                                  
,CASE WHEN ISNULL(DPAS.RxType,'')='' THEN 'Unknown' ELSE DPAS.RxType END  AS [Rx Type]                                      
,DPAS.[RX Directions] AS [RX Directions],                                                  
         -- Patient [Shipping Address 1]                                                  
            CASE                                                   
                WHEN @PHIFlag = 'true' THEN                                                   
                     CASE    WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingAddress1                                                   
                              ELSE 'No Consent'                                                  
                      END                                                  
            ELSE ''                                                  
          END AS [Shipping Address 1],                         
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingAddress1 END AS [Shipping Address 1],                                                  
         CASE                                                   
                WHEN @PHIFlag = 'true' THEN                                                   
  CASE    WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingAddress2                            
                              ELSE 'No Consent'                                                  
                      END                                                  
                ELSE ''                                                  
             END AS [Shipping Address 2],                                                  
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingAddress2 END AS [Shipping Address 2],                                                     
            CASE                                                    
                WHEN @PHIFlag = 'true' THEN                                                   
                     CASE    WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingCity                                                   
                              ELSE 'No Consent'                                                  
                      END                                                  
                ELSE ''                                                
     END AS [Shipping City],                                                    
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingCity END AS [Shipping City],                                                  
         CASE                                                    
                WHEN @PHIFlag = 'true' THEN                                                   
                     CASE    WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingState                                                   
                              ELSE 'No Consent'                                    
                      END                                                  
                ELSE ''                                                  
             END AS [Shipping State],                                                   
       -- DPAS.ShippingState AS [Shipping State],                                   
          CASE                                                  
                WHEN @PHIFlag = 'true' THEN                                                   
                     CASE    WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingZip                                                   
                              ELSE 'No Consent'                                                  
                      END                                                  
               ELSE ''                                         
             END AS [Shipping Zip],                                                   
        DPAS.ProductLotNumber AS [Product Lot Number]                           
  ,FORMAT(CAST(NULLIF(DPAS.PatientPHIHIPAAConsentDate,'') AS DATETIME), 'yyyyMMddHHmmss') AS [Patient PHI HIPAA Consent Date]                                                  
,DPAS.ShipToLocationType AS [Ship To Location Type]                                        
,CASE WHEN ISNULL(DPAS.NextFillDate,'')='' THEN 'Unknown' ELSE FORMAT(CAST(NULLIF(DPAS.NextFillDate,'') AS DATETIME), 'yyyyMMddHHmmss') END AS [Next Fill Date]                                        
,CASE WHEN DPAS.TotalFillNumber IS NULL  THEN 'Unknown' ELSE CAST(DPAS.TotalFillNumber AS VARCHAR(20)) END AS [Total Fill Number]                                        
,DPAS.FinalPatientOutOfPocketCost AS [Final Patient Out-of-Pocket Cost]                                                
,DPAS.CopayCardVoucherUsed AS [Co-Pay Card/Voucher Used],DPAS.PrimaryCopayAmount AS [Primary Co-Pay Amount]                                    
,DPAS.SecondaryCopayAmount AS [Secondary Co-Pay Amount]                           
,CASE WHEN ISNULL(DPAS.LocationDEA,'')='' THEN 'Unknown' ELSE DPAS.LocationDEA END AS [Location DEA]                                      
,CASE WHEN ISNULL(DPAS.LocationNPINumber,'')='' THEN 'Unknown' ELSE DPAS.LocationNPINumber END AS [Location NPI Number]                        
,CASE                               
    WHEN DPAS.[RestatementFlag] IS NOT NULL THEN                                         
         CASE                                         
             WHEN DPAS.[RestatementFlag] = 1 THEN 'Y'                                        
             ELSE 'N'                                        
         END                                        
    ELSE ''                                        
END AS [Restatement Flag]                                        
,DPAS.FlexField0 AS [Flex Field 0]                                        
,DPAS.FlexField1 AS [Flex Field 1]                
,DPAS.FlexField2 AS [Flex Field 2],DPAS.FlexField3 AS [Flex Field 3]                                                  
 ,DPAS.FlexField4 AS [Flex Field 4],DPAS.FlexField5 AS [Flex Field 5],DPAS.FlexField6 AS [Flex Field 6]                                            
  --,DPAS.CreatedOn AS [Created On],DPAS.CreatedBy AS [Created By],DPAS.RUNID AS [Run ID] ,DPAS.GroupName AS [Group Name]                                                        
  FROM dbo.DWHPatientAscendisDispense DPAS LEFT JOIN #TempFinalData TAD ON DPAS.EncryptedID=TAD.patientId                       
        WHERE DPAS.Runid=@RunId                                                   
   END                                                
ELSE IF(@GroupName = 'CourierHealth' )                                                 
 BEGIN                                              
        SELECT                                                         
CASE WHEN DPAS.UniqueTransactionID IS NULL THEN 'Unknown'                         
ELSE CAST(DPAS.UniqueTransactionID AS VARCHAR(20)) END AS [Unique Transation ID]                          
,CASE WHEN DPAS.[EncryptedID] IS NULL THEN 'Unknown'                         
ELSE (CAST(DPAS.[EncryptedID] AS BIGINT) - 40119) END  AS [Encrypted ID]                                        
,CASE WHEN ISNULL(DPAS.ShipDate,'')='' THEN 'Unknown'                         
ELSE FORMAT(CAST(NULLIF(DPAS.ShipDate,'') AS DATETIME), 'yyyyMMddHHmmss') END AS [Ship Date]                                        
,CASE WHEN ISNULL(DPAS.RxDate,'')='' THEN 'Unknown'                        
 ELSE FORMAT(CAST(NULLIF(DPAS.RxDate,'') AS DATETIME), 'yyyyMMddHHmmss') END AS [Rx Date]                                        
,CASE WHEN DPAS.QuantityDispensed IS NULL THEN 'Unknown'                         
ELSE CAST(ROUND(DPAS.QuantityDispensed,0) AS  VARCHAR(20)) END AS [Quantity Dispensed]                                            
,CASE WHEN DPAS.DaysSupply IS NULL THEN 'Unknown'                         
ELSE CAST(DPAS.DaysSupply AS VARCHAR(20)) END AS [Days Supply]                                      
,CASE WHEN DPAS.RefillNumber IS NULL  THEN 'Unknown'               
ELSE CAST(DPAS.RefillNumber  AS VARCHAR(20)) END AS [Refill Number]                                      
,DPAS.PatientInitials AS [Patient Initals]                        
,DPAS.YearOfBirth AS [Year Of Birth],                                                  
     -- Patient First Name                                                  
            CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.PatientFirstName                      
                 ELSE 'No Consent'                                                  
                      END AS [Patient First Name],                                                  
                                                  
            -- Patient Last Name                                                  
    CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.PatientLastName                                                   
                 ELSE 'No Consent'                                                  
             END AS [Patient Last Name]                                                 
,CASE WHEN ISNULL(DPAS.DrugName,'')='' THEN 'Unknown'                        
 ELSE DPAS.DrugName END AS [Drug Name]                                      
,CASE WHEN DPAS.RefillsAllowed IS NULL THEN 'Unknown'                         
ELSE CAST(DPAS.RefillsAllowed AS VARCHAR(20)) END AS [Refills Allowed]                                      
,CASE WHEN DPAS.RefillsRemaining IS NULL THEN 'Unknown'                         
ELSE CAST(DPAS.RefillsRemaining  AS VARCHAR(20)) END  AS [Refills Remaining]                                      
,CASE WHEN ISNULL(DPAS.OrderPayerType,'')='' THEN 'Unknown'                         
ELSE DPAS.OrderPayerType  END AS [Order Payer Type]                                      
,CASE WHEN ISNULL(DPAS.PayerName,'')='' THEN 'Unknown'                         
ELSE DPAS.PayerName END AS [Payer Name]                                   
,BIN AS [BIN],PCN AS [PCN],                                                        
        DPAS.SecondaryPayerType AS [Secondary Payer Type],DPAS.SecondaryPayerName AS [Secondary Payer Name],DPAS.SecondaryBIN AS [Secondary BIN],DPAS.SecondaryPCN AS [Secondary PCN]                                        
,DPAS.TertiaryPayerType AS [Tertiary Payer Type],                                                
DPAS.TertiaryPayerName AS [Tertiary Payer Name],DPAS.TertiaryBIN AS [Tertiary BIN],DPAS.TertiaryPCN AS [Tertiary PCN]                                      
--,CASE WHEN ISNULL(DPAS.[NDC],'')='' THEN 'Unknown' ELSE [DPAS].[NDC] END AS [NDC]                                   
,CASE                                  
    WHEN DPAS.[NDC] IS NULL THEN 'Unknown'                                  
    WHEN LEN(DPAS.[NDC]) = 11         
    THEN STUFF(STUFF(DPAS.[NDC], 6, 0, '-'), 11, 0, '-')                                   
      --  THEN STUFF(STUFF(DPAS.[NDC], 6, 0, '-'), 10, 0, '-')                                  
    ELSE DPAS.[NDC]   -- or 'Invalid NDC'                                  
END AS [NDC]                                   
,CASE WHEN ISNULL(DPAS.HCPNPI,'')='' THEN 'Unknown' ELSE DPAS.HCPNPI END  AS [HCP NPI]                                      
,CASE WHEN ISNULL(DPAS.HCPFirstName,'')='' THEN 'Unknown' ELSE DPAS.HCPFirstName END AS [HCP First Name]                                        
,CASE WHEN ISNULL(DPAS.HCPLastName,'')='' THEN 'Unknown' ELSE DPAS.HCPLastName END  AS [HCP Last Name]                                                    
,DPAS.HCPPractice AS [HCP Practice],DPAS.HCPDEA AS [HCP DEA],DPAS.HCPGroup AS [HCP Group]                                      
,CASE WHEN ISNULL(DPAS.HCPAddress,'')='' THEN 'Unknown' ELSE DPAS.HCPAddress END AS [HCP Address]                                      
,CASE WHEN ISNULL(DPAS.HCPCity,'')='' THEN 'Unknown' ELSE DPAS.HCPCity  END AS [HCP City]                                      
,CASE WHEN ISNULL(DPAS.HCPState,'')='' THEN 'Unknown' ELSE DPAS.HCPState END AS [HCP State]                                        
,CASE WHEN ISNULL(DPAS.HCPZip,'')='' THEN 'Unknown' ELSE DPAS.HCPZip END AS [HCP Zip]                                      
,DPAS.OfficeContact AS [Office Contact],DPAS.OfficeContactPhone AS [Office Contact Phonse]                                                  
        ,DPAS.OfficeContactFax AS [Office Contact Fax],DPAS.OfficeContactEmail AS [Office Contact Email]                                      
,CASE WHEN ISNULL(DPAS.[ICD10],'')='' THEN 'Unknown' ELSE DPAS.[ICD10] END AS [ICD10]                                                   
,CASE WHEN ISNULL(DPAS.PatientFirstShipDate,'')='' THEN 'Unknown' ELSE FORMAT(CAST(NULLIF(DPAS.PatientFirstShipDate,'') AS DATETIME), 'yyyyMMddHHmmss') END AS [Patient First Ship Date]                                        
,CASE WHEN ISNULL(DPAS.PatientLastShipDate,'')='' THEN 'Unknown' ELSE FORMAT(CAST(NULLIF(DPAS.PatientLastShipDate,'') AS DATETIME), 'yyyyMMddHHmmss') END  AS [Patient Last Ship Date]                                        
,CASE WHEN DPAS.QuantityUOM IS NULL THEN 'Unknown' ELSE CAST( DPAS.QuantityUOM AS NVARCHAR) END AS [Quantity UOM],                                                  
 -- Patient RxNumber                                                  
    CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.RxNumber                                                   
            ELSE 'No Consent'                                                  
    END AS [RX Number],                                                  
CASE WHEN ISNULL(DPAS.RxType,'')='' THEN 'Unknown' ELSE DPAS.RxType END  AS [Rx Type]                                      
,DPAS.[RX Directions] AS [RX Directions],                           
         -- Patient [Shipping Address 1]                          
            CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingAddress1                                                   
                 ELSE 'No Consent'                                                  
            END AS [Shipping Address 1],                                                  
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingAddress1 END AS [Shipping Address 1],                                                  
         CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingAddress2                                                   
                 ELSE 'No Consent'                                         
            END AS [Shipping Address 2],                                                  
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingAddress2 END AS [Shipping Address 2],                                              
            CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingCity                                                   
     ELSE 'No Consent'                               
             END AS [Shipping City],                                            
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingCity END AS [Shipping City],                                                  
         CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingState                                                   
               ELSE 'No Consent'                                                  
            END AS [Shipping State],                                                   
       -- DPAS.ShippingState AS [Shipping State],                                                  
          CASE WHEN ISNULL(TAD.[Patient Support Program Consent],'') = 'A. Accepted' THEN DPAS.ShippingZip                                                   
                ELSE 'No Consent'                                                  
            END AS [Shipping Zip],                                              
        --CASE WHEN TAD.[Patient Privacy Authorization:] <> 'Accepted' THEN 'No Consent' ELSE DPAS.ShippingZip END AS [Shipping Zip],                                                  
CASE WHEN ISNULL(DPAS.ProductLotNumber,'')='' THEN 'Unknown'                         
ELSE DPAS.ProductLotNumber END  AS [Product Lot Number]                                      
,FORMAT(CAST(NULLIF(DPAS.PatientPHIHIPAAConsentDate,'') AS DATETIME), 'yyyyMMddHHmmss') AS [Patient PHI HIPAA Consent Date]           
,DPAS.ShipToLocationType AS [Ship to Location Type]                                      
,CASE WHEN ISNULL(DPAS.NextFillDate,'')='' THEN 'Unknown'                         
ELSE FORMAT(CAST(NULLIF(DPAS.NextFillDate,'') AS DATETIME), 'yyyyMMddHHmmss') END   AS [Next Fill Date]                                        
,CASE WHEN DPAS.TotalFillNumber IS NULL THEN 'Unknown'                         
ELSE CAST(DPAS.TotalFillNumber  AS VARCHAR(20)) END  AS [Total Fill Number]                                        
,DPAS.FinalPatientOutOfPocketCost AS [Final Patient Out-of- Pocket Cost]/* [Final Patient Out-of- Pocket Cost] */                                           
,DPAS.CopayCardVoucherUsed AS [Co-Pay Card/Voucher used]                                                  
 ,DPAS.PrimaryCopayAmount AS [Primary Co-Pay amount]                        
,DPAS.SecondaryCopayAmount AS [Secondary Co-Pay amount]                                      
,CASE WHEN ISNULL(DPAS.LocationDEA,'')='' THEN 'Unknown'                         
ELSE DPAS.LocationDEA  END AS [Location DEA]                                      
,CASE WHEN ISNULL(DPAS.LocationNPINumber,'')='' THEN 'Unknown'                         
ELSE DPAS.LocationNPINumber  END AS [Location NPI Number]                           
,DPAS.FlexField0 AS [Flex Field 0],DPAS.FlexField1 AS [Flex Field 1],DPAS.FlexField2 AS [Flex Field 2]                        
,DPAS.FlexField3 AS [Flex Field 3],DPAS.FlexField4 AS [Flex Field 4]                                      
,DPAS.FlexField5 AS [Flex Field 5]                                         
--,CASE WHEN RestatementFlag = 1 THEN 'Y' ELSE 'N' END AS RestatementFlag                                                           
  FROM dbo.DWHPatientAscendisDispense DPAS LEFT JOIN #TempFinalData TAD ON DPAS.EncryptedID=TAD.patientId                                                     
        WHERE DPAS.Runid=@RunId  AND TAD.[Patient Support Program Consent]= 'A. Accepted'                                               
   END                                                     
END 